# Web Scraping Assignment-1 (BeautifulSoup)

Importing required libraries and packages.

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in f:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in f:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in f:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in f:\anaconda\lib\site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in f:\anaconda\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in f:\anaconda\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in f:\anaconda\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in f:\anaconda\lib\site-packages (from requests) (2.10)

In [2]:
from bs4 import BeautifulSoup
import requests

 # 1.  Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [3]:
page=requests.get("http://en.wikipedia.org/wiki/Main_Page")
page

Since the response is 200 i can scrap the data.

In [4]:
soup=BeautifulSoup(page.content)

In [5]:
Headers_tag=[]
header=soup.find_all(["h1","h2","h3","h4","h5","h6"])
for i in header:
    Headers_tag.append(i.text.replace("\n",""))
    
Headers_tag

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

I have received all the header tags.

# Frameing the dataset:

In [7]:
import pandas as pd
wiki=pd.DataFrame({})
wiki['Headers tags']=Headers_tag

Imported pandas and framed the data.

In [8]:
wiki

                     Headers tags
0                       Main Page
1   From today's featured article
2                Did you know ...
3                     In the news
4                     On this day
5        Today's featured picture
6        Other areas of Wikipedia
7     Wikipedia's sister projects
8             Wikipedia languages
9                 Navigation menu
10                 Personal tools
11                     Namespaces
12                       Variants
13                          Views
14                           More
15                         Search
16                     Navigation
17                     Contribute
18                          Tools
19                   Print/export
20              In other projects
21                      Languages

This is the required DataFrame.

# 2.  Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [9]:
page=requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
page

Since the response is 200 i can scrap data from this website.

In [11]:
soup=BeautifulSoup(page.content)

Extracting movie name.

In [12]:
name=soup.find_all("td",class_="titleColumn")
name

[<td class="titleColumn">
       1.
       <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       2.
       <a href="/title/tt0068646/" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">The Godfather</a>
 <span class="secondaryInfo">(1972)</span>
 </td>,
 <td class="titleColumn">
       3.
       <a href="/title/tt0071562/" title="Francis Ford Coppola (dir.), Al Pacino, Robert De Niro">The Godfather: Part II</a>
 <span class="secondaryInfo">(1974)</span>
 </td>,
 <td class="titleColumn">
       4.
       <a href="/title/tt0468569/" title="Christopher Nolan (dir.), Christian Bale, Heath Ledger">The Dark Knight</a>
 <span class="secondaryInfo">(2008)</span>
 </td>,
 <td class="titleColumn">
       5.
       <a href="/title/tt0050083/" title="Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb">12 Angry Men</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       6.
       <a href="/title/tt0108052/" title="Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes">Schindler's List</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       7.
       <a href="/title/tt0167260/" title="Peter Jackson (dir.), Elijah Wood, Viggo Mortensen">The Lord of the Rings: The Return of the King</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       8.
       <a href="/title/tt0110912/" title="Quentin Tarantino (dir.), John Travolta, Uma Thurman">Pulp Fiction</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       9.
       <a href="/title/tt0060196/" title="Sergio Leone (dir.), Clint Eastwood, Eli Wallach">Il buono, il brutto, il cattivo</a>
 <span class="secondaryInfo">(1966)</span>
 </td>,
 <td class="titleColumn">
       10.
       <a href="/title/tt0120737/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">The Lord of the Rings: The Fellowship of the Ring</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       11.
       <a href="/title/tt0137523/" title="David Fincher (dir.), Brad Pitt, Edward Norton">Fight Club</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       12.
       <a href="/title/tt0109830/" title="Robert Zemeckis (dir.), Tom Hanks, Robin Wright">Forrest Gump</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       13.
       <a href="/title/tt1375666/" title="Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt">Inception</a>
 <span class="secondaryInfo">(2010)</span>
 </td>,
 <td class="titleColumn">
       14.
       <a href="/title/tt0167261/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">The Lord of the Rings: The Two Towers</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       15.
       <a href="/title/tt0080684/" title="Irvin Kershner (dir.), Mark Hamill, Harrison Ford">Star Wars: Episode V - The Empire Strikes Back</a>
 <span class="secondaryInfo">(1980)</span>
 </td>,
 <td class="titleColumn">
       16.
       <a href="/title/tt0133093/" title="Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne">The Matrix</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       17.
       <a href="/title/tt0099685/" title="Martin Scorsese (dir.), Robert De Niro, Ray Liotta">Goodfellas</a>
 <span class="secondaryInfo">(1990)</span>
 </td>,
 <td class="titleColumn">
       18.
       <a href="/title/tt0073486/" title="Milos Forman (dir.), Jack Nicholson, Louise Fletcher">One Flew Over the Cuckoo's Nest</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       19.
       <a href="/title/tt0047478/" title="Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura">Shichinin no samurai</a>
 <span class="secondaryInfo">(1954)</span>
 </td>,
 <td class="titleColumn">
       20.
       <a href="/title/tt0114369/" title="David Fincher (dir.), Morgan Freeman, Brad Pitt">Se7en</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       21.
       <a href="/title/tt0317248/" title="Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino">Cidade de Deus</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       22.
       <a href="/title/tt0102926/" title="Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins">The Silence of the Lambs</a>
 <span class="secondaryInfo">(1991)</span>
 </td>,
 <td class="titleColumn">
       23.
       <a href="/title/tt0118799/" title="Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi">La vita è bella</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       24.
       <a href="/title/tt0038650/" title="Frank Capra (dir.), James Stewart, Donna Reed">It's a Wonderful Life</a>
 <span class="secondaryInfo">(1946)</span>
 </td>,
 <td class="titleColumn">
       25.
       <a href="/title/tt0076759/" title="George Lucas (dir.), Mark Hamill, Harrison Ford">Star Wars</a>
 <span class="secondaryInfo">(1977)</span>
 </td>,
 <td class="titleColumn">
       26.
       <a href="/title/tt0120815/" title="Steven Spielberg (dir.), Tom Hanks, Matt Damon">Saving Private Ryan</a>
 <span class="secondaryInfo">(1998)</span>
 </td>,
 <td class="titleColumn">
       27.
       <a href="/title/tt0245429/" title="Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette">Sen to Chihiro no kamikakushi</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       28.
       <a href="/title/tt0816692/" title="Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway">Interstellar</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       29.
       <a href="/title/tt0120689/" title="Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan">The Green Mile</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       30.
       <a href="/title/tt6751668/" title="Bong Joon Ho (dir.), Kang-ho Song, Sun-kyun Lee">Gisaengchung</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       31.
       <a href="/title/tt0110413/" title="Luc Besson (dir.), Jean Reno, Gary Oldman">Léon</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       32.
       <a href="/title/tt0056058/" title="Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama">Seppuku</a>
 <span class="secondaryInfo">(1962)</span>
 </td>,
 <td class="titleColumn">
       33.
       <a href="/title/tt0114814/" title="Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne">The Usual Suspects</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       34.
       <a href="/title/tt0253474/" title="Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann">The Pianist</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       35.
       <a href="/title/tt0088763/" title="Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd">Back to the Future</a>
 <span class="secondaryInfo">(1985)</span>
 </td>,
 <td class="titleColumn">
       36.
       <a href="/title/tt0103064/" title="James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton">Terminator 2: Judgment Day</a>
 <span class="secondaryInfo">(1991)</span>
 </td>,
 <td class="titleColumn">
       37.
       <a href="/title/tt0027977/" title="Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard">Modern Times</a>
 <span class="secondaryInfo">(1936)</span>
 </td>,
 <td class="titleColumn">
       38.
       <a href="/title/tt0054215/" title="Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh">Psycho</a>
 <span class="secondaryInfo">(1960)</span>
 </td>,
 <td class="titleColumn">
       39.
       <a href="/title/tt0110357/" title="Roger Allers (dir.), Matthew Broderick, Jeremy Irons">The Lion King</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       40.
       <a href="/title/tt0120586/" title="Tony Kaye (dir.), Edward Norton, Edward Furlong">American History X</a>
 <span class="secondaryInfo">(1998)</span>
 </td>,
 <td class="titleColumn">
       41.
       <a href="/title/tt0021749/" title="Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill">City Lights</a>
 <span class="secondaryInfo">(1931)</span>
 </td>,
 <td class="titleColumn">
       42.
       <a href="/title/tt0095327/" title="Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi">Hotaru no haka</a>
 <span class="secondaryInfo">(1988)</span>
 </td>,
 <td class="titleColumn">
       43.
       <a href="/title/tt0172495/" title="Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix">Gladiator</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       44.
       <a href="/title/tt2582802/" title="Damien Chazelle (dir.), Miles Teller, J.K. Simmons">Whiplash</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       45.
       <a href="/title/tt0407887/" title="Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon">The Departed</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       46.
       <a href="/title/tt1675434/" title="Olivier Nakache (dir.), François Cluzet, Omar Sy">The Intouchables</a>
 <span class="secondaryInfo">(2011)</span>
 </td>,
 <td class="titleColumn">
       47.
       <a href="/title/tt0482571/" title="Christopher Nolan (dir.), Christian Bale, Hugh Jackman">The Prestige</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       48.
       <a href="/title/tt0034583/" title="Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman">Casablanca</a>
 <span class="secondaryInfo">(1942)</span>
 </td>,
 <td class="titleColumn">
       49.
       <a href="/title/tt0064116/" title="Sergio Leone (dir.), Henry Fonda, Charles Bronson">Once Upon a Time in the West</a>
 <span class="secondaryInfo">(1968)</span>
 </td>,
 <td class="titleColumn">
       50.
       <a href="/title/tt0047396/" title="Alfred Hitchcock (dir.), James Stewart, Grace Kelly">Rear Window</a>
 <span class="secondaryInfo">(1954)</span>
 </td>,
 <td class="titleColumn">
       51.
       <a href="/title/tt0095765/" title="Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale">Nuovo Cinema Paradiso</a>
 <span class="secondaryInfo">(1988)</span>
 </td>,
 <td class="titleColumn">
       52.
       <a href="/title/tt0078748/" title="Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt">Alien</a>
 <span class="secondaryInfo">(1979)</span>
 </td>,
 <td class="titleColumn">
       53.
       <a href="/title/tt0078788/" title="Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando">Apocalypse Now</a>
 <span class="secondaryInfo">(1979)</span>
 </td>,
 <td class="titleColumn">
       54.
       <a href="/title/tt0209144/" title="Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss">Memento</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       55.
       <a href="/title/tt0082971/" title="Steven Spielberg (dir.), Harrison Ford, Karen Allen">Raiders of the Lost Ark</a>
 <span class="secondaryInfo">(1981)</span>
 </td>,
 <td class="titleColumn">
       56.
       <a href="/title/tt0032553/" title="Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard">The Great Dictator</a>
 <span class="secondaryInfo">(1940)</span>
 </td>,
 <td class="titleColumn">
       57.
       <a href="/title/tt0405094/" title="Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck">The Lives of Others</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       58.
       <a href="/title/tt1853728/" title="Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz">Django Unchained</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       59.
       <a href="/title/tt0050825/" title="Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker">Paths of Glory</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       60.
       <a href="/title/tt0043014/" title="Billy Wilder (dir.), William Holden, Gloria Swanson">Sunset Blvd.</a>
 <span class="secondaryInfo">(1950)</span>
 </td>,
 <td class="titleColumn">
       61.
       <a href="/title/tt0910970/" title="Andrew Stanton (dir.), Ben Burtt, Elissa Knight">WALL·E</a>
 <span class="secondaryInfo">(2008)</span>
 </td>,
 <td class="titleColumn">
       62.
       <a href="/title/tt0081505/" title="Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall">The Shining</a>
 <span class="secondaryInfo">(1980)</span>
 </td>,
 <td class="titleColumn">
       63.
       <a href="/title/tt4154756/" title="Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth">Avengers: Infinity War</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       64.
       <a href="/title/tt0051201/" title="Billy Wilder (dir.), Tyrone Power, Marlene Dietrich">Witness for the Prosecution</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       65.
       <a href="/title/tt0057012/" title="Stanley Kubrick (dir.), Peter Sellers, George C. Scott">Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb</a>
 <span class="secondaryInfo">(1964)</span>
 </td>,
 <td class="titleColumn">
       66.
       <a href="/title/tt7286456/" title="Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro">Joker</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       67.
       <a href="/title/tt4633694/" title="Bob Persichetti (dir.), Shameik Moore, Jake Johnson">Spider-Man: Into the Spider-Verse</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       68.
       <a href="/title/tt0364569/" title="Park Chan-Wook (dir.), Choi Min-sik, Yoo Ji-Tae">Oldeuboi</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       69.
       <a href="/title/tt0119698/" title="Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida">Mononoke-hime</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       70.
       <a href="/title/tt8503618/" title="Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo">Hamilton</a>
 <span class="secondaryInfo">(2020)</span>
 </td>,
 <td class="titleColumn">
       71.
       <a href="/title/tt5311514/" title="Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi">Kimi no na wa.</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       72.
       <a href="/title/tt0087843/" title="Sergio Leone (dir.), Robert De Niro, James Woods">Once Upon a Time in America</a>
 <span class="secondaryInfo">(1984)</span>
 </td>,
 <td class="titleColumn">
       73.
       <a href="/title/tt1345836/" title="Christopher Nolan (dir.), Christian Bale, Tom Hardy">The Dark Knight Rises</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       74.
       <a href="/title/tt0090605/" title="James Cameron (dir.), Sigourney Weaver, Michael Biehn">Aliens</a>
 <span class="secondaryInfo">(1986)</span>
 </td>,
 <td class="titleColumn">
       75.
       <a href="/title/tt2380307/" title="Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal">Coco</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       76.
       <a href="/title/tt0082096/" title="Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer">Das Boot</a>
 <span class="secondaryInfo">(1981)</span>
 </td>,
 <td class="titleColumn">
       77.
       <a href="/title/tt8267604/" title="Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw">Capharnaüm</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       78.
       <a href="/title/tt4154796/" title="Anthony Russo (dir.), Robert Downey Jr., Chris Evans">Avengers: Endgame</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       79.
       <a href="/title/tt0057565/" title="Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada">Tengoku to jigoku</a>
 <span class="secondaryInfo">(1963)</span>
 </td>,
 <td class="titleColumn">
       80.
       <a href="/title/tt0169547/" title="Sam Mendes (dir.), Kevin Spacey, Annette Bening">American Beauty</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       81.
       <a href="/title/tt0114709/" title="John Lasseter (dir.), Tom Hanks, Tim Allen">Toy Story</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       82.
       <a href="/title/tt1187043/" title="Rajkumar Hirani (dir.), Aamir Khan, Madhavan">3 Idiots</a>
 <span class="secondaryInfo">(2009)</span>
 </td>,
 <td class="titleColumn">
       83.
       <a href="/title/tt0112573/" title="Mel Gibson (dir.), Mel Gibson, Sophie Marceau">Braveheart</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       84.
       <a href="/title/tt0086879/" title="Milos Forman (dir.), F. Murray Abraham, Tom Hulce">Amadeus</a>
 <span class="secondaryInfo">(1984)</span>
 </td>,
 <td class="titleColumn">
       85.
       <a href="/title/tt0048473/" title="Satyajit Ray (dir.), Kanu Bannerjee, Karuna Bannerjee">Pather Panchali</a>
 <span class="secondaryInfo">(1955)</span>
 </td>,
 <td class="titleColumn">
       86.
       <a href="/title/tt0361748/" title="Quentin Tarantino (dir.), Brad Pitt, Diane Kruger">Inglourious Basterds</a>
 <span class="secondaryInfo">(2009)</span>
 </td>,
 <td class="titleColumn">
       87.
       <a href="/title/tt0119217/" title="Gus Van Sant (dir.), Robin Williams, Matt Damon">Good Will Hunting</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       88.
       <a href="/title/tt0086190/" title="Richard Marquand (dir.), Mark Hamill, Harrison Ford">Star Wars: Episode VI - Return of the Jedi</a>
 <span class="secondaryInfo">(1983)</span>
 </td>,
 <td class="titleColumn">
       89.
       <a href="/title/tt0062622/" title="Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood">2001: A Space Odyssey</a>
 <span class="secondaryInfo">(1968)</span>
 </td>,
 <td class="titleColumn">
       90.
       <a href="/title/tt0105236/" title="Quentin Tarantino (dir.), Harvey Keitel, Tim Roth">Reservoir Dogs</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       91.
       <a href="/title/tt0986264/" title="Aamir Khan (dir.), Darsheel Safary, Aamir Khan">Taare Zameen Par</a>
 <span class="secondaryInfo">(2007)</span>
 </td>,
 <td class="titleColumn">
       92.
       <a href="/title/tt0022100/" title="Fritz Lang (dir.), Peter Lorre, Ellen Widmann">M - Eine Stadt sucht einen Mörder</a>
 <span class="secondaryInfo">(1931)</span>
 </td>,
 <td class="titleColumn">
       93.
       <a href="/title/tt0052357/" title="Alfred Hitchcock (dir.), James Stewart, Kim Novak">Vertigo</a>
 <span class="secondaryInfo">(1958)</span>
 </td>,
 <td class="titleColumn">
       94.
       <a href="/title/tt0033467/" title="Orson Welles (dir.), Orson Welles, Joseph Cotten">Citizen Kane</a>
 <span class="secondaryInfo">(1941)</span>
 </td>,
 <td class="titleColumn">
       95.
       <a href="/title/tt2106476/" title="Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen">Jagten</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       96.
       <a href="/title/tt0091251/" title="Elem Klimov (dir.), Aleksey Kravchenko, Olga Mironova">Idi i smotri</a>
 <span class="secondaryInfo">(1985)</span>
 </td>,
 <td class="titleColumn">
       97.
       <a href="/title/tt0180093/" title="Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto">Requiem for a Dream</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       98.

In [13]:
movie_name=[]
for i in name:
    for j in i.find_all("a"):
        movie_name.append(j.text.replace("\n"," "))
movie_name

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Fight Club',
 'Forrest Gump',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'The Silence of the Lambs',
 'La vita è bella',
 "It's a Wonderful Life",
 'Star Wars',
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'Interstellar',
 'The Green Mile',
 'Gisaengchung',
 'Léon',
 'Seppuku',
 'The Usual Suspects',
 'The Pianist',
 'Back to the Future',
 'Terminator 2: Judgment Day',
 'Modern Times',
 'Psycho',
 'The Lion King',
 'American History X',
 'City Lights',
 'Hotaru no haka',
 'Gladiator',
 'Whiplash',
 'The Departed',
 'The Intouchables',
 'The Prestige',
 'Casablanca',
 'Once Upon a Time in the West',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Apocalypse Now',
 'Memento',
 'Raiders of the Lost Ark',
 'The Great Dictator',
 'The Lives of Others',
 'Django Unchained',
 'Paths of Glory',
 'Sunset Blvd.',
 'WALL·E',
 'The Shining',
 'Avengers: Infinity War',
 'Witness for the Prosecution',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Joker',
 'Spider-Man: Into the Spider-Verse',
 'Oldeuboi',
 'Mononoke-hime',
 'Hamilton',
 'Kimi no na wa.',
 'Once Upon a Time in America',
 'The Dark Knight Rises',
 'Aliens',
 'Coco',
 'Das Boot',
 'Capharnaüm',
 'Avengers: Endgame',
 'Tengoku to jigoku',
 'American Beauty',
 'Toy Story',
 '3 Idiots',
 'Braveheart',
 'Amadeus',
 'Pather Panchali',
 'Inglourious Basterds',
 'Good Will Hunting',
 'Star Wars: Episode VI - Return of the Jedi',
 '2001: A Space Odyssey',
 'Reservoir Dogs',
 'Taare Zameen Par',
 'M - Eine Stadt sucht einen Mörder',
 'Vertigo',
 'Citizen Kane',
 'Jagten',
 'Idi i smotri',
 'Requiem for a Dream',
 "Singin' in the Rain",
 'North by Northwest',
 'Eternal Sunshine of the Spotless Mind',
 'Ladri di biciclette',
 'Ikiru',
 'Lawrence of Arabia',
 'The Kid',
 'Dangal',
 'Full Metal Jacket',
 'The Father',
 'A Clockwork Orange',
 'Metropolis',
 'Taxi Driver',
 'The Apartment',
 'Double Indemnity',
 'The Sting',
 'Incendies',
 '1917',
 'Jodaeiye Nader az Simin',
 "Le fabuleux destin d'Amélie Poulain",
 'Snatch',
 'Scarface',
 'Toy Story 3',
 'To Kill a Mockingbird',
 'Per qualche dollaro in più',
 'Up',
 'Indiana Jones and the Last Crusade',
 'L.A. Confidential',
 'Heat',
 'Rashômon',
 'Yôjinbô',
 'Ran',
 'Die Hard',
 'Monty Python and the Holy Grail',
 'Green Book',
 'Der Untergang',
 'All About Eve',
 'Some Like It Hot',
 'Batman Begins',
 'Unforgiven',
 'Bacheha-Ye aseman',
 'Hauru no ugoku shiro',
 'The Wolf of Wall Street',
 'The Great Escape',
 'Judgment at Nuremberg',
 'Casino',
 'The Treasure of the Sierra Madre',
 'There Will Be Blood',
 "Pan's Labyrinth",
 'A Beautiful Mind',
 'El secreto de sus ojos',
 'Raging Bull',
 'Tonari no Totoro',
 'Chinatown',
 'Lock, Stock and Two Smoking Barrels',
 'The Gold Rush',
 'Shutter Island',
 'No Country for Old Men',
 'Three Billboards Outside Ebbing, Missouri',
 'Dial M for Murder',
 'Det sjunde inseglet',
 'The Elephant Man',
 'The Thing',
 'The Sixth Sense',
 'Klaus',
 'Inside Out',
 'V for Vendetta',
 'The Third Man',
 'Smultronstället',
 'Blade Runner',
 'Trainspotting',
 'The Truman Show',
 'Salinui chueok',
 'Jurassic Park',
 'The Bridge on the River Kwai',
 'Warrior',
 'Fargo',
 'Babam ve Oglum',
 'Finding Nemo',
 'Gone with the Wind',
 'Kill Bill: Vol. 1',
 'Tôkyô monogatari',
 'On the Waterfront',
 'Stalker',
 'The General',
 'Relatos salvajes',
 'Sherlock Jr.',
 'The Deer Hunter',
 'Gran Torino',
 'The Grand Budapest Hotel',
 'Persona',
 'Before Sunrise',
 'Room',
 'Mary and Max.',
 'Prisoners',
 'Mr. Smith Goes to Washington',
 'In the Name of the Father',
 'Catch Me If You Can',
 'Gone Girl',
 'To Be or Not to Be',
 'Hacksaw Ridge',
 'Andhadhun',
 'Barry Lyndon',
 "La passion de Jeanne d'Arc",
 'The Big Lebowski',
 'Ford v Ferrari',
 '12 Years a Slave',
 'How to Train Your Dragon',
 'Mad Max: Fury Road',
 'Ben-Hur',
 'Dead Poets Society',
 'Million Dollar Baby',
 'Le salaire de la peur',
 'Network',
 'Höstsonaten',
 'Harry Potter and the Deathly Hallows: Part 2',
 'Stand by Me',
 'Ah-ga-ssi',
 'Cool Hand Luke',
 'Les quatre cents coups',
 'Logan',
 'Eskiya',
 "Hachi: A Dog's Tale",
 'Platoon',
 'La haine',
 'Spotlight',
 'Gangs of Wasseypur',
 'Life of Brian',
 'Hotel Rwanda',
 'Rebecca',
 'Monsters, Inc.',
 'Rush',
 'Andrei Rublev',
 'Into the Wild',
 'Amores perros',
 'Koe no katachi',
 'Rocky',
 'Fa Yeung Nin Wah',
 'It Happened One Night',
 'Kaze no tani no Naushika',
 'La battaglia di Algeri',
 'Ratsasan',
 'Before Sunset',
 'Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni',
 'Fanny och Alexander',
 'Trois couleurs: Rouge',
 'Du rififi chez les hommes',
 'Kimetsu no Yaiba: Mugen Ressha-Hen',
 'The Princess Bride',
 'Hera Pheri',
 'Sunrise: A Song of Two Humans',
 'Drishyam',
 'Paris, Texas']

In [14]:
movie_name=movie_name[:100]

In [15]:
len(movie_name)

100

Extracting movie ratings.

In [16]:
ratings=soup.find_all("td",class_="ratingColumn imdbRating")
ratings

[<td class="ratingColumn imdbRating">
 <strong title="9.2 based on 2,427,138 user ratings">9.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.1 based on 1,680,046 user ratings">9.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 1,166,015 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 2,383,064 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 716,091 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,249,216 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,688,728 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,883,146 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 707,828 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,709,987 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,914,201 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,875,611 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 2,138,896 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,526,948 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,190,410 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,728,778 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,054,281 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 942,651 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 324,412 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,494,801 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 714,649 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,313,530 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 643,014 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 417,127 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,262,536 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,275,897 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 681,070 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,584,502 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,187,201 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 634,150 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,067,202 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 46,683 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,017,061 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 758,960 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,096,384 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,022,015 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 225,098 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 622,095 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 971,235 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,056,945 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 173,024 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 247,192 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,381,693 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 750,206 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,225,356 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 786,372 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,228,643 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 536,009 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 310,309 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 458,357 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 240,980 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 811,788 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 622,704 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,156,058 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 907,103 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 209,987 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 368,395 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,405,309 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 184,059 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 207,622 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,029,650 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 928,494 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 900,045 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 113,552 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 462,429 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,031,624 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 412,623 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 533,115 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 358,445 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 69,290 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 216,410 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 322,832 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,559,224 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 670,123 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 418,704 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 237,580 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 71,567 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 908,936 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 37,776 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,094,071 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 915,235 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 361,200 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 979,850 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 378,044 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 26,832 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,313,385 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 888,967 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 975,359 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 621,623 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 945,726 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 177,425 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 147,927 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 376,378 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 417,142 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 297,251 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 65,156 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 786,820 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 225,311 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 307,974 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 937,485 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 152,872 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 71,703 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 275,909 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 117,739 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 167,193 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 693,189 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 81,529 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 777,149 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 164,217 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 750,909 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 169,373 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 147,618 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 247,640 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 158,201 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 474,941 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 228,554 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 718,403 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 802,683 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 767,663 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 776,980 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 300,911 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 239,229 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 963,337 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 709,472 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 546,019 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 597,855 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 157,370 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 114,962 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 116,977 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 811,993 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 512,320 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 414,835 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 338,449 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 123,901 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 251,267 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,344,290 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 386,916 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 68,507 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 350,586 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,241,560 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 230,688 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 72,154 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 481,346 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 117,544 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 536,580 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 632,318 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 872,240 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 198,627 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 331,271 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 305,023 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 305,029 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 549,353 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 104,414 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,176,779 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 887,934 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 456,783 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 163,679 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 172,198 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 227,354 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 384,419 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 932,920 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 115,963 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 642,767 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,056,335 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 162,847 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 99,994 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 712,860 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 649,425 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 974,969 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 152,785 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 895,571 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 208,517 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 445,536 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 636,325 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 81,799 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 973,372 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 298,055 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,032,327 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 55,957 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 146,057 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 123,223 user ratings">8.1</strong>
 </td>,

In [17]:
imdb_ratings=[]
for i in ratings:
    for j in i.find_all("strong"):
        imdb_ratings.append(j.text.replace("\n"," "))
imdb_ratings

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [18]:
imdb_ratings=imdb_ratings[:100]

In [19]:
len(imdb_ratings)

100

Extracting year of release.

In [20]:
release=soup.find_all("span",class_="secondaryInfo")
release

[<span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1972)</span>,
 <span class="secondaryInfo">(1974)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1990)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1946)</span>,
 <span class="secondaryInfo">(1977)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1962)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1985)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(1936)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1931)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1942)</span>,
 <span class="secondaryInfo">(1968)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1981)</span>,
 <span class="secondaryInfo">(1940)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1950)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1964)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1986)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1981)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1963)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(1955)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(1968)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(1931)</span>,
 <span class="secondaryInfo">(1958)</span>,
 <span class="secondaryInfo">(1941)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1985)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1952)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1948)</span>,
 <span class="secondaryInfo">(1952)</span>,
 <span class="secondaryInfo">(1962)</span>,
 <span class="secondaryInfo">(1921)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(1971)</span>,
 <span class="secondaryInfo">(1927)</span>,
 <span class="secondaryInfo">(1976)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(1944)</span>,
 <span class="secondaryInfo">(1973)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(1962)</span>,
 <span class="secondaryInfo">(1965)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1950)</span>,
 <span class="secondaryInfo">(1961)</span>,
 <span class="secondaryInfo">(1985)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1950)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1963)</span>,
 <span class="secondaryInfo">(1961)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1948)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1974)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1925)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1980)</span>,
 <span class="secondaryInfo">(1982)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1949)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(1982)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1939)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1953)</span>,
 <span class="secondaryInfo">(1954)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1926)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1924)</span>,
 <span class="secondaryInfo">(1978)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1939)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1942)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1928)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1953)</span>,
 <span class="secondaryInfo">(1976)</span>,
 <span class="secondaryInfo">(1978)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1986)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1967)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1986)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1940)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1976)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1934)</span>,
 <span class="secondaryInfo">(1984)</span>,
 <span class="secondaryInfo">(1966)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1982)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1955)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1927)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1984)</span>]

In [21]:
year_of_release=[]
for i in release:
        year_of_release.append(i.text.replace("\n"," "))
year_of_release

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1991)',
 '(1997)',
 '(1946)',
 '(1977)',
 '(1998)',
 '(2001)',
 '(2014)',
 '(1999)',
 '(2019)',
 '(1994)',
 '(1962)',
 '(1995)',
 '(2002)',
 '(1985)',
 '(1991)',
 '(1936)',
 '(1960)',
 '(1994)',
 '(1998)',
 '(1931)',
 '(1988)',
 '(2000)',
 '(2014)',
 '(2006)',
 '(2011)',
 '(2006)',
 '(1942)',
 '(1968)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1979)',
 '(2000)',
 '(1981)',
 '(1940)',
 '(2006)',
 '(2012)',
 '(1957)',
 '(1950)',
 '(2008)',
 '(1980)',
 '(2018)',
 '(1957)',
 '(1964)',
 '(2019)',
 '(2018)',
 '(2003)',
 '(1997)',
 '(2020)',
 '(2016)',
 '(1984)',
 '(2012)',
 '(1986)',
 '(2017)',
 '(1981)',
 '(2018)',
 '(2019)',
 '(1963)',
 '(1999)',
 '(1995)',
 '(2009)',
 '(1995)',
 '(1984)',
 '(1955)',
 '(2009)',
 '(1997)',
 '(1983)',
 '(1968)',
 '(1992)',
 '(2007)',
 '(1931)',
 '(1958)',
 '(1941)',
 '(2012)',
 '(1985)',
 '(2000)',
 '(1952)',
 '(1959)',
 '(2004)',
 '(1948)',
 '(1952)',
 '(1962)',
 '(1921)',
 '(2016)',
 '(1987)',
 '(2020)',
 '(1971)',
 '(1927)',
 '(1976)',
 '(1960)',
 '(1944)',
 '(1973)',
 '(2010)',
 '(2019)',
 '(2011)',
 '(2001)',
 '(2000)',
 '(1983)',
 '(2010)',
 '(1962)',
 '(1965)',
 '(2009)',
 '(1989)',
 '(1997)',
 '(1995)',
 '(1950)',
 '(1961)',
 '(1985)',
 '(1988)',
 '(1975)',
 '(2018)',
 '(2004)',
 '(1950)',
 '(1959)',
 '(2005)',
 '(1992)',
 '(1997)',
 '(2004)',
 '(2013)',
 '(1963)',
 '(1961)',
 '(1995)',
 '(1948)',
 '(2007)',
 '(2006)',
 '(2001)',
 '(2009)',
 '(1980)',
 '(1988)',
 '(1974)',
 '(1998)',
 '(1925)',
 '(2010)',
 '(2007)',
 '(2017)',
 '(1954)',
 '(1957)',
 '(1980)',
 '(1982)',
 '(1999)',
 '(2019)',
 '(2015)',
 '(2005)',
 '(1949)',
 '(1957)',
 '(1982)',
 '(1996)',
 '(1998)',
 '(2003)',
 '(1993)',
 '(1957)',
 '(2011)',
 '(1996)',
 '(2005)',
 '(2003)',
 '(1939)',
 '(2003)',
 '(1953)',
 '(1954)',
 '(1979)',
 '(1926)',
 '(2014)',
 '(1924)',
 '(1978)',
 '(2008)',
 '(2014)',
 '(1966)',
 '(1995)',
 '(2015)',
 '(2009)',
 '(2013)',
 '(1939)',
 '(1993)',
 '(2002)',
 '(2014)',
 '(1942)',
 '(2016)',
 '(2018)',
 '(1975)',
 '(1928)',
 '(1998)',
 '(2019)',
 '(2013)',
 '(2010)',
 '(2015)',
 '(1959)',
 '(1989)',
 '(2004)',
 '(1953)',
 '(1976)',
 '(1978)',
 '(2011)',
 '(1986)',
 '(2016)',
 '(1967)',
 '(1959)',
 '(2017)',
 '(1996)',
 '(2009)',
 '(1986)',
 '(1995)',
 '(2015)',
 '(2012)',
 '(1979)',
 '(2004)',
 '(1940)',
 '(2001)',
 '(2013)',
 '(1966)',
 '(2007)',
 '(2000)',
 '(2016)',
 '(1976)',
 '(2000)',
 '(1934)',
 '(1984)',
 '(1966)',
 '(2018)',
 '(2004)',
 '(1997)',
 '(1982)',
 '(1994)',
 '(1955)',
 '(2020)',
 '(1987)',
 '(2000)',
 '(1927)',
 '(2013)',
 '(1984)']

In [22]:
year_of_release=year_of_release[:100]

In [23]:
len(year_of_release)

100

In [24]:
print(len(movie_name),len(imdb_ratings),len(year_of_release))

100 100 100

# Frameing the dataset:

Importing pandas and frameing data.

In [25]:
import pandas as pd
movies=pd.DataFrame({})
movies['Name']=movie_name
movies['Rating']=imdb_ratings
movies['Release']=year_of_release

In [26]:
movies

                                     Name Rating Release
0                The Shawshank Redemption    9.2  (1994)
1                           The Godfather    9.1  (1972)
2                  The Godfather: Part II    9.0  (1974)
3                         The Dark Knight    9.0  (2008)
4                            12 Angry Men    8.9  (1957)
..                                    ...    ...     ...
95                           Idi i smotri    8.3  (1985)
96                    Requiem for a Dream    8.3  (2000)
97                    Singin' in the Rain    8.3  (1952)
98                     North by Northwest    8.3  (1959)
99  Eternal Sunshine of the Spotless Mind    8.3  (2004)

[100 rows x 3 columns]

This is the required DataFrame.

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [27]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=CY35NWZFV2XD31TSATM6&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_hd")
page

Since the response is 200 i can scrap data from this website.

In [28]:
soup=BeautifulSoup(page.content)

Extracting Indian movie name.

In [29]:
ind_name=soup.find_all("td",class_="titleColumn")
ind_name

[<td class="titleColumn">
       1.
       <a href="/title/tt0093603/" title="Mani Ratnam (dir.), Kamal Haasan, Saranya Ponvannan">Nayakan</a>
 <span class="secondaryInfo">(1987)</span>
 </td>,
 <td class="titleColumn">
       2.
       <a href="/title/tt8176054/" title="Mari Selvaraj (dir.), Kathir, Anandhi">Pariyerum Perumal</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       3.
       <a href="/title/tt0367495/" title="Sundar C. (dir.), Kamal Haasan, Madhavan">Anbe Sivam</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       4.
       <a href="/title/tt7391996/" title="Venkatesh Maha (dir.), Radha Bessy, Subba Rao Vepada">C/o Kancharapalem</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       5.
       <a href="/title/tt0079221/" title="Hrishikesh Mukherjee (dir.), Amol Palekar, Bindiya Goswami">Golmaal</a>
 <span class="secondaryInfo">(1979)</span>
 </td>,
 <td class="titleColumn">
       6.
       <a href="/title/tt0048473/" title="Satyajit Ray (dir.), Kanu Bannerjee, Karuna Bannerjee">Pather Panchali</a>
 <span class="secondaryInfo">(1955)</span>
 </td>,
 <td class="titleColumn">
       7.
       <a href="/title/tt0052572/" title="Satyajit Ray (dir.), Soumitra Chatterjee, Sharmila Tagore">Apur Sansar</a>
 <span class="secondaryInfo">(1959)</span>
 </td>,
 <td class="titleColumn">
       8.
       <a href="/title/tt0214915/" title="Fazil (dir.), Mohanlal, Shobana">Manichitrathazhu</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       9.
       <a href="/title/tt0237376/" title="Sibi Malayil (dir.), Mohanlal, Thilakan">Kireedam</a>
 <span class="secondaryInfo">(1989)</span>
 </td>,
 <td class="titleColumn">
       10.
       <a href="/title/tt5311546/" title="Mahesh Manjrekar (dir.), Nana Patekar, Medha Manjrekar">Natsamrat</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       11.
       <a href="/title/tt7019842/" title="C. Prem Kumar (dir.), Vijay Sethupathi, Adithya Bhaskar">96</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       12.
       <a href="/title/tt0105575/" title="Bharathan (dir.), Kamal Haasan, Shivaji Ganesan">Thevar Magan</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       13.
       <a href="/title/tt0400234/" title="Anurag Kashyap (dir.), Kay Kay Menon, Pawan Malhotra">Black Friday</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       14.
       <a href="/title/tt8413338/" title="Madhu C. Narayanan (dir.), Shane Nigam, Soubin Shahir">Kumbalangi Nights</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       15.
       <a href="/title/tt4991384/" title="Vetrimaaran (dir.), Dinesh, Samuthirakani">Visaaranai</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       16.
       <a href="/title/tt1187043/" title="Rajkumar Hirani (dir.), Aamir Khan, Madhavan">3 Idiots</a>
 <span class="secondaryInfo">(2009)</span>
 </td>,
 <td class="titleColumn">
       17.
       <a href="/title/tt12361178/" title="Jeethu Joseph (dir.), Mohanlal, Meena">Drishyam 2</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       18.
       <a href="/title/tt10189514/" title="Sudha Kongara (dir.), Suriya, Paresh Rawal">Soorarai Pottru</a>
 <span class="secondaryInfo">(2020)</span>
 </td>,
 <td class="titleColumn">
       19.
       <a href="/title/tt8948790/" title="Gowtam Tinnanuri (dir.), Nani, Shraddha Srinath">Jersey</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       20.
       <a href="/title/tt0986264/" title="Aamir Khan (dir.), Darsheel Safary, Aamir Khan">Taare Zameen Par</a>
 <span class="secondaryInfo">(2007)</span>
 </td>,
 <td class="titleColumn">
       21.
       <a href="/title/tt0101649/" title="Mani Ratnam (dir.), Rajinikanth, Mammootty">Thalapathi</a>
 <span class="secondaryInfo">(1991)</span>
 </td>,
 <td class="titleColumn">
       22.
       <a href="/title/tt9477520/" title="Vetrimaaran (dir.), Dhanush, Manju Warrier">Asuran</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       23.
       <a href="/title/tt5074352/" title="Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar">Dangal</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       24.
       <a href="/title/tt9900782/" title="Lokesh Kanagaraj (dir.), Karthi, Narain">Kaithi</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       25.
       <a href="/title/tt7060344/" title="Ram Kumar (dir.), Vishnu Vishal, Amala Paul">Ratsasan</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       26.
       <a href="/title/tt0291855/" title="I.V. Sasi (dir.), Mohanlal, Revathi">Devasuram</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       27.
       <a href="/title/tt11580854/" title="Pa. Ranjith (dir.), Arya, Pasupathy">Sarpatta Parambarai</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       28.
       <a href="/title/tt0048956/" title="Satyajit Ray (dir.), Pinaki Sengupta, Smaran Ghosal">Aparajito</a>
 <span class="secondaryInfo">(1956)</span>
 </td>,
 <td class="titleColumn">
       29.
       <a href="/title/tt0085743/" title="Kundan Shah (dir.), Naseeruddin Shah, Ravi Baswani">Jaane Bhi Do Yaaro</a>
 <span class="secondaryInfo">(1983)</span>
 </td>,
 <td class="titleColumn">
       30.
       <a href="/title/tt0050870/" title="Guru Dutt (dir.), Guru Dutt, Waheeda Rehman">Pyaasa</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       31.
       <a href="/title/tt5959980/" title="Vetrimaaran (dir.), Dhanush, Ameer Sultan">Vada Chennai</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       32.
       <a href="/title/tt7738784/" title="Ram (dir.), Mammootty, Sadhana">Peranbu</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       33.
       <a href="/title/tt0059246/" title="Vijay Anand (dir.), Dev Anand, Waheeda Rehman">Guide</a>
 <span class="secondaryInfo">(1965)</span>
 </td>,
 <td class="titleColumn">
       34.
       <a href="/title/tt4987556/" title="Mohan Raja (dir.), Jayam Ravi, Arvind Swamy">Thani Oruvan</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       35.
       <a href="/title/tt0312859/" title="Mani Ratnam (dir.), Madhavan, Simran">Kannathil Muthamittal</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       36.
       <a href="/title/tt0119385/" title="Mani Ratnam (dir.), Mohanlal, Prakash Raj">Iruvar</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       37.
       <a href="/title/tt0072783/" title="Hrishikesh Mukherjee (dir.), Dharmendra, Sharmila Tagore">Chupke Chupke</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       38.
       <a href="/title/tt0292246/" title="Bhadran (dir.), Mohanlal, Thilakan">Spadikam</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       39.
       <a href="/title/tt10214826/" title="Swaroop Rsj (dir.), Naveen Polishetty, Shruti Sharma">Agent Sai Srinivasa Athreya</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       40.
       <a href="/title/tt7019942/" title="Thiagarajan Kumararaja (dir.), Vijay Sethupathi, Samantha Akkineni">Super Deluxe</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       41.
       <a href="/title/tt3417422/" title="Jeethu Joseph (dir.), Mohanlal, Meena">Drishyam</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       42.
       <a href="/title/tt5867800/" title="Arun Prabhu Purushothaman (dir.), Aditi Balan, Padmashri Mohammad Ali">Aruvi</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       43.
       <a href="/title/tt7465992/" title="Nag Ashwin (dir.), Keerthy Suresh, Dulquer Salmaan">Mahanati</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       44.
       <a href="/title/tt6148156/" title="Gayatri (dir.), Madhavan, Vijay Sethupathi">Vikram Vedha</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       45.
       <a href="/title/tt0466460/" title="Dibakar Banerjee (dir.), Anupam Kher, Boman Irani">Khosla Ka Ghosla!</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       46.
       <a href="/title/tt8239946/" title="Rahi Anil Barve (dir.), Sohum Shah, Jyoti Malshe">Tumbbad</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       47.
       <a href="/title/tt0459516/" title="K. Selvaraghavan (dir.), Dhanush, Sneha">Pudhu Pettai</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       48.
       <a href="/title/tt4679210/" title="Alphonse Puthren (dir.), Nivin Pauly, Sai Pallavi">Premam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       49.
       <a href="/title/tt0376127/" title="S. Shankar (dir.), Vikram, Sada">Anniyan</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,
 <td class="titleColumn">
       50.
       <a href="/title/tt0066763/" title="Hrishikesh Mukherjee (dir.), Rajesh Khanna, Amitabh Bachchan">Anand</a>
 <span class="secondaryInfo">(1971)</span>
 </td>,
 <td class="titleColumn">
       51.
       <a href="/title/tt3973410/" title="M. Manikandan (dir.), Ramesh, J. Vignesh">Kaakkaa Muttai</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       52.
       <a href="/title/tt3668162/" title="Anjali Menon (dir.), Nazriya Nazim, Nivin Pauly">Bangalore Days</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       53.
       <a href="/title/tt0220656/" title="S. Shankar (dir.), Arjun Sarja, Manisha Koirala">Mudhalvan</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       54.
       <a href="/title/tt4429128/" title="Jeethu Joseph (dir.), Kamal Haasan, Gautami">Papanasam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       55.
       <a href="/title/tt6380520/" title="Karthick Naren (dir.), Rahman, Prakash Raghavan">Dhuruvangal Pathinaaru</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       56.
       <a href="/title/tt0195231/" title="Ram Gopal Varma (dir.), J.D. Chakravarthi, Manoj Bajpayee">Satya</a>
 <span class="secondaryInfo">(1998)</span>
 </td>,
 <td class="titleColumn">
       57.
       <a href="/title/tt8108198/" title="Sriram Raghavan (dir.), Ayushmann Khurrana, Tabu">Andhadhun</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       58.
       <a href="/title/tt2877108/" title="Nalan Kumarasamy (dir.), Vijay Sethupathi, Sanchita Shetty">Soodhu Kavvum</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       59.
       <a href="/title/tt2181831/" title="Hansal Mehta (dir.), Rajkummar Rao, Prabhleen Sandhu">Shahid</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       60.
       <a href="/title/tt3569782/" title="Karthik Subbaraj (dir.), Siddharth, Bobby Simha">Jigarthanda</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       61.
       <a href="/title/tt1954470/" title="Anurag Kashyap (dir.), Manoj Bajpayee, Richa Chadha">Gangs of Wasseypur</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       62.
       <a href="/title/tt0376076/" title="Bala (dir.), Vikram, Suriya">Pithamagan</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       63.
       <a href="/title/tt1620933/" title="Tigmanshu Dhulia (dir.), Irrfan Khan, Mahie Gill">Paan Singh Tomar</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       64.
       <a href="/title/tt2356180/" title="Rakeysh Omprakash Mehra (dir.), Farhan Akhtar, Sonam Kapoor">Bhaag Milkha Bhaag</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       65.
       <a href="/title/tt0242519/" title="Priyadarshan (dir.), Akshay Kumar, Sunil Shetty">Hera Pheri</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       66.
       <a href="/title/tt5312232/" title="Nagraj Manjule (dir.), Rinku Rajguru, Akash Thosar">Sairat</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       67.
       <a href="/title/tt4934950/" title="Meghna Gulzar (dir.), Irrfan Khan, Konkona Sen Sharma">Talvar</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       68.
       <a href="/title/tt0073707/" title="Ramesh Sippy (dir.), Sanjeev Kumar, Dharmendra">Sholay</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       69.
       <a href="/title/tt0367110/" title="Ashutosh Gowariker (dir.), Shah Rukh Khan, Gayatri Joshi">Swades: We, the People</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       70.
       <a href="/title/tt0871510/" title="Shimit Amin (dir.), Shah Rukh Khan, Vidya Malvade">Chak De! India</a>
 <span class="secondaryInfo">(2007)</span>
 </td>,
 <td class="titleColumn">
       71.
       <a href="/title/tt2218988/" title="Anwar Rasheed (dir.), Dulquer Salmaan, Thilakan">Ustad Hotel</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       72.
       <a href="/title/tt0375611/" title="Sanjay Leela Bhansali (dir.), Amitabh Bachchan, Rani Mukerji">Black</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,
 <td class="titleColumn">
       73.
       <a href="/title/tt4430212/" title="Nishikant Kamat (dir.), Ajay Devgn, Shriya Saran">Drishyam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       74.
       <a href="/title/tt1562872/" title="Zoya Akhtar (dir.), Hrithik Roshan, Farhan Akhtar">Zindagi Na Milegi Dobara</a>
 <span class="secondaryInfo">(2011)</span>
 </td>,
 <td class="titleColumn">
       75.
       <a href="/title/tt0104561/" title="Mansoor Khan (dir.), Aamir Khan, Ayesha Jhulka">Jo Jeeta Wohi Sikandar</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       76.
       <a href="/title/tt4851630/" title="Dileesh Pothan (dir.), Fahadh Faasil, Aparna Balamurali">Maheshinte Prathikaaram</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       77.
       <a href="/title/tt0054098/" title="K. Asif (dir.), Prithviraj Kapoor, Madhubala">Mughal-E-Azam</a>
 <span class="secondaryInfo">(1960)</span>
 </td>,
 <td class="titleColumn">
       78.
       <a href="/title/tt5005684/" title="Ashwiny Iyer Tiwari (dir.), Swara Bhaskar, Ratna Pathak Shah">Nil Battey Sannata</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       79.
       <a href="/title/tt1639426/" title="Vikramaditya Motwane (dir.), Rajat Barmecha, Ronit Roy">Udaan</a>
 <span class="secondaryInfo">(2010)</span>
 </td>,
 <td class="titleColumn">
       80.
       <a href="/title/tt0057935/" title="Satyajit Ray (dir.), Soumitra Chatterjee, Madhabi Mukherjee">Charulata</a>
 <span class="secondaryInfo">(1964)</span>
 </td>,
 <td class="titleColumn">
       81.
       <a href="/title/tt7060460/" title="H. Vinoth (dir.), Karthi, Rakul Preet Singh">Theeran adhigaaram ondru</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       82.
       <a href="/title/tt10324144/" title="Anubhav Sinha (dir.), Ayushmann Khurrana, Nassar">Article 15</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       83.
       <a href="/title/tt1280558/" title="Neeraj Pandey (dir.), Anupam Kher, Naseeruddin Shah">A Wednesday</a>
 <span class="secondaryInfo">(2008)</span>
 </td>,
 <td class="titleColumn">
       84.
       <a href="/title/tt3322420/" title="Vikas Bahl (dir.), Kangana Ranaut, Rajkummar Rao">Queen</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       85.
       <a href="/title/tt4635372/" title="Neeraj Ghaywan (dir.), Richa Chadha, Sanjay Mishra">Masaan</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       86.
       <a href="/title/tt0374887/" title="Rajkumar Hirani (dir.), Sanjay Dutt, Arshad Warsi">Munna Bhai M.B.B.S.</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       87.
       <a href="/title/tt0242256/" title="Mani Ratnam (dir.), Madhavan, Shalini">Alai Payuthey</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       88.
       <a href="/title/tt0200087/" title="John Mathew Matthan (dir.), Aamir Khan, Naseeruddin Shah">Sarfarosh</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       89.
       <a href="/title/tt0139876/" title="Suresh Krishna (dir.), Rajinikanth, Nagma">Baasha</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       90.
       <a href="/title/tt0292490/" title="Farhan Akhtar (dir.), Aamir Khan, Saif Ali Khan">Dil Chahta Hai</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       91.
       <a href="/title/tt2283748/" title="Umesh Shukla (dir.), Paresh Rawal, Akshay Kumar">OMG: Oh My God!</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       92.
       <a href="/title/tt9052870/" title="Nitesh Tiwari (dir.), Sushant Singh Rajput, Shraddha Kapoor">Chhichhore</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       93.
       <a href="/title/tt0105271/" title="Mani Ratnam (dir.), Arvind Swamy, Madhoo">Roja</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       94.
       <a href="/title/tt0405508/" title="Rakeysh Omprakash Mehra (dir.), Aamir Khan, Soha Ali Khan">Rang De Basanti</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       95.
       <a href="/title/tt0364647/" title="Kamal Haasan (dir.), Kamal Haasan, Abhirami">Virumandi</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       96.
       <a href="/title/tt0109117/" title="Rajkumar Santoshi (dir.), Aamir Khan, Salman Khan">Andaz Apna Apna</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       97.
       <a href="/title/tt0169102/" title="Ashutosh Gowariker (dir.), Aamir Khan, Raghuvir Yadav">Lagaan: Once Upon a Time in India</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       98.
       <a href="/title/tt1821480/" title="Sujoy Ghosh (dir.), Vidya Balan, Parambrata Chattopadhyay">Kahaani</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       99.
       <a href="/title/tt8291224/" title="Aditya Dhar (dir.), Vicky Kaushal, Paresh Rawal">Uri: The Surgical Strike</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       100.
       <a href="/title/tt2338151/" title="Rajkumar Hirani (dir.), Aamir Khan, Anushka Sharma">PK</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       101.
       <a href="/title/tt2358592/" title="Pawan Kumar (dir.), Sathish Neenasam, Sruthi Hariharan">Lucia</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       102.
       <a href="/title/tt0453729/" title="Nagesh Kukunoor (dir.), Shreyas Talpade, Naseeruddin Shah">Iqbal</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,

In [30]:
ind_movie_name=[]
for i in ind_name:
    for j in i.find_all("a"):
        ind_movie_name.append(j.text.replace("\n"," "))
ind_movie_name

['Nayakan',
 'Pariyerum Perumal',
 'Anbe Sivam',
 'C/o Kancharapalem',
 'Golmaal',
 'Pather Panchali',
 'Apur Sansar',
 'Manichitrathazhu',
 'Kireedam',
 'Natsamrat',
 '96',
 'Thevar Magan',
 'Black Friday',
 'Kumbalangi Nights',
 'Visaaranai',
 '3 Idiots',
 'Drishyam 2',
 'Soorarai Pottru',
 'Jersey',
 'Taare Zameen Par',
 'Thalapathi',
 'Asuran',
 'Dangal',
 'Kaithi',
 'Ratsasan',
 'Devasuram',
 'Sarpatta Parambarai',
 'Aparajito',
 'Jaane Bhi Do Yaaro',
 'Pyaasa',
 'Vada Chennai',
 'Peranbu',
 'Guide',
 'Thani Oruvan',
 'Kannathil Muthamittal',
 'Iruvar',
 'Chupke Chupke',
 'Spadikam',
 'Agent Sai Srinivasa Athreya',
 'Super Deluxe',
 'Drishyam',
 'Aruvi',
 'Mahanati',
 'Vikram Vedha',
 'Khosla Ka Ghosla!',
 'Tumbbad',
 'Pudhu Pettai',
 'Premam',
 'Anniyan',
 'Anand',
 'Kaakkaa Muttai',
 'Bangalore Days',
 'Mudhalvan',
 'Papanasam',
 'Dhuruvangal Pathinaaru',
 'Satya',
 'Andhadhun',
 'Soodhu Kavvum',
 'Shahid',
 'Jigarthanda',
 'Gangs of Wasseypur',
 'Pithamagan',
 'Paan Singh Tomar',
 'Bhaag Milkha Bhaag',
 'Hera Pheri',
 'Sairat',
 'Talvar',
 'Sholay',
 'Swades: We, the People',
 'Chak De! India',
 'Ustad Hotel',
 'Black',
 'Drishyam',
 'Zindagi Na Milegi Dobara',
 'Jo Jeeta Wohi Sikandar',
 'Maheshinte Prathikaaram',
 'Mughal-E-Azam',
 'Nil Battey Sannata',
 'Udaan',
 'Charulata',
 'Theeran adhigaaram ondru',
 'Article 15',
 'A Wednesday',
 'Queen',
 'Masaan',
 'Munna Bhai M.B.B.S.',
 'Alai Payuthey',
 'Sarfarosh',
 'Baasha',
 'Dil Chahta Hai',
 'OMG: Oh My God!',
 'Chhichhore',
 'Roja',
 'Rang De Basanti',
 'Virumandi',
 'Andaz Apna Apna',
 'Lagaan: Once Upon a Time in India',
 'Kahaani',
 'Uri: The Surgical Strike',
 'PK',
 'Lucia',
 'Iqbal',
 'The Legend of Bhagat Singh',
 'Barfi!',
 'Bommarillu',
 'Pink',
 'Maqbool',
 'Bombay',
 'Section 375',
 'Omkara',
 'Indian',
 'The Great Indian Kitchen',
 'Lage Raho Munna Bhai',
 'Thadam',
 'Pelli Choopulu',
 'Baahubali 2: The Conclusion',
 'Deewaar',
 'Pranchiyettan and the Saint',
 'Naduvula Konjam Pakkatha Kaanom',
 'Padosan',
 'Gulaal',
 'Haider',
 'Rangasthalam',
 'Athadu',
 'Dilwale Dulhania Le Jayenge',
 'Take Off',
 'Thondimuthalum Dhriksakshiyum',
 'Padayappa',
 'Ugly',
 'Mother India',
 'Aadukalam',
 'Special Chabbis',
 'K.G.F: Chapter 1',
 'Vaaranam Aayiram',
 'Ulidavaru Kandanthe',
 'Ship of Theseus',
 'Dev.D',
 'Badhaai ho',
 'Bajrangi Bhaijaan',
 'Gully Boy',
 'Malik',
 'Jalsaghar',
 'Vaastav: The Reality',
 'Deiva Thirumagal',
 'Ankhon Dekhi',
 'Mukkabaaz',
 'Vedam',
 'Company',
 'Manjhi: The Mountain Man',
 'Arjun Reddy',
 'Pizza',
 'Karnan',
 'Charlie',
 'My Name Is Khan',
 'Memories',
 'Dil Bechara',
 'Kal Ho Naa Ho',
 'Jab We Met',
 'Mumbai Police',
 'Vinnaithaandi Varuvaayaa',
 'Angamaly Diaries',
 'Border',
 'Super 30',
 'Poove Unakkaga',
 'Kaakha..Kaakha: The Police',
 'Unnaipol Oruvan',
 'Padman',
 'Bãhubali: The Beginning',
 'Sonchiriya',
 'Lakshya',
 'Vettaiyaadu Vilaiyaadu',
 'Dor',
 'Hey Ram',
 'Ayyappanum Koshiyum',
 'Baby',
 'Anjaam Pathiraa',
 'Airlift',
 'Thulladha Manamum Thullum',
 'Hindi Medium',
 'English Vinglish',
 'Okkadu',
 'Gangaajal',
 'The Lunchbox',
 'Manam',
 'Mimi',
 'Johnny Gaddaar',
 'Ab Tak Chhappan',
 'Joji',
 'Badla',
 'Pokiri',
 'Secret Superstar',
 'M.S. Dhoni: The Untold Story',
 'Vicky Donor',
 'Nayak: The Real Hero',
 'Mr. India',
 'Stanley Ka Dabba',
 'Raazi',
 'Goodachari',
 'Udta Punjab',
 'Don',
 'RangiTaranga',
 'Rock On!!',
 'Veer-Zaara',
 'Velaiilla Pattadhari',
 'Aligarh',
 'Ko',
 'Dasvidaniya',
 'Thuppakki',
 'Guru',
 'Arya',
 'Samsara',
 'Kaththi',
 'Kai po che!',
 'Oye Lucky! Lucky Oye!',
 '24',
 'Ghilli',
 'Mumbai Meri Jaan',
 'Rockstar',
 'Eega',
 'Avane Srimannarayana',
 'C U Soon',
 'Kabhi Haan Kabhi Naa',
 'Darr',
 'Kapoor & Sons',
 'Newton',
 'Sir',
 'Ugramm',
 'Aamir',
 'State of Siege: Temple Attack',
 'The Tashkent Files',
 'Earth',
 'Madras Cafe',
 'Agneepath',
 'Sarkar',
 'Detective Byomkesh Bakshy!',
 'Bheja Fry',
 'Neerja',
 'Pyaar Ka Punchnama',
 'Kannum Kannum Kollaiyadithaal',
 'Highway',
 'Magadheera',
 'Baazigar',
 '1 - Nenokkadine',
 'Tanu Weds Manu Returns',
 'Saala Khadoos',
 'Manorama: Six Feet Under',
 'Piku',
 'Wake Up Sid',
 'Ludo',
 'Dhruva']

In [31]:
ind_movie_name=ind_movie_name[:100]

In [32]:
len(ind_movie_name)

100

Extracting Indian movie ratings.

In [33]:
ind_ratings=soup.find_all("td",class_="ratingColumn imdbRating")
ind_ratings

[<td class="ratingColumn imdbRating">
 <strong title="8.5 based on 17,842 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 11,646 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 18,435 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 5,652 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 18,494 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 26,832 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 13,070 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 9,514 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 6,812 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 5,942 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 23,137 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 6,172 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 19,660 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 11,482 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 9,075 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 361,200 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 28,999 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 85,520 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 11,109 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 177,425 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 10,990 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 18,532 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 167,193 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 16,422 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 32,585 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,190 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 8,712 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 12,650 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,541 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,904 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,668 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,914 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,681 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 17,987 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 7,897 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,460 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 12,004 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,202 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 10,575 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,817 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 37,124 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,969 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 10,689 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 32,184 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 22,870 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 34,586 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,625 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 18,652 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 15,891 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 32,160 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,291 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 18,028 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 7,059 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,614 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 13,873 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 14,125 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 79,567 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 9,625 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 15,838 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 10,960 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 87,532 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,015 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 34,426 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 63,544 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 60,327 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 11,954 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 32,664 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 52,862 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 85,845 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 76,241 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,831 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,917 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 75,082 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 71,259 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 22,271 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,739 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,663 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,171 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 43,422 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,656 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 11,931 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 26,372 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 75,490 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 62,169 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 25,227 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 76,420 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,835 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 24,611 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 9,500 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 68,616 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 53,951 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 39,887 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,236 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 115,046 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,335 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 51,103 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 107,903 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 59,507 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 46,970 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 169,527 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 11,808 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 16,284 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 15,359 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 77,841 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 8,967 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 41,482 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,155 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,878 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 13,475 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 19,771 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,485 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,003 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 44,465 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,968 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,500 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 79,445 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,424 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,243 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,354 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,511 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,333 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 51,672 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 20,393 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,644 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 65,584 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,548 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,458 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,190 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 20,879 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 8,856 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,521 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 52,790 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 43,590 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 11,336 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,229 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,993 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 29,462 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 30,022 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 79,412 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 34,437 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 8,317 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,486 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 13,099 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,210 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 10,804 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,004 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,955 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 14,887 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 18,317 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 22,547 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,376 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 16,252 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 9,077 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 101,568 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,589 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 118,656 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 65,447 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 49,439 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,300 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,263 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,403 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 14,567 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 23,831 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,521 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,597 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,456 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 22,983 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 106,998 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 9,872 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 21,681 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 7,035 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,827 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 11,977 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,460 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 54,375 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,480 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 54,210 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,081 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 25,099 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 34,498 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,912 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 16,284 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 52,573 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 10,351 user ratings">7.8</strong>

In [34]:
imdb_ind_ratings=[]
for i in ind_ratings:
    for j in i.find_all("strong"):
        imdb_ind_ratings.append(j.text.replace("\n"," "))
imdb_ind_ratings

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6']

In [35]:
imdb_ind_ratings=imdb_ind_ratings[:100]

In [36]:
len(imdb_ind_ratings)

100

Extracting Indian movie year of release.

In [37]:
ind_release=soup.find_all("span",class_="secondaryInfo")
ind_release

[<span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1955)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(1956)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1965)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1971)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(1964)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1968)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(1958)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1996)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1978)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1990)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2016)</span>]

In [38]:
ind_year_of_release=[]
for i in ind_release:
        ind_year_of_release.append(i.text.replace("\n"," "))
ind_year_of_release

['(1987)',
 '(2018)',
 '(2003)',
 '(2018)',
 '(1979)',
 '(1955)',
 '(1959)',
 '(1993)',
 '(1989)',
 '(2016)',
 '(2018)',
 '(1992)',
 '(2004)',
 '(2019)',
 '(2015)',
 '(2009)',
 '(2021)',
 '(2020)',
 '(2019)',
 '(2007)',
 '(1991)',
 '(2019)',
 '(2016)',
 '(2019)',
 '(2018)',
 '(1993)',
 '(2021)',
 '(1956)',
 '(1983)',
 '(1957)',
 '(2018)',
 '(2018)',
 '(1965)',
 '(2015)',
 '(2002)',
 '(1997)',
 '(1975)',
 '(1995)',
 '(2019)',
 '(2019)',
 '(2013)',
 '(2016)',
 '(2018)',
 '(2017)',
 '(2006)',
 '(2018)',
 '(2006)',
 '(2015)',
 '(2005)',
 '(1971)',
 '(2014)',
 '(2014)',
 '(1999)',
 '(2015)',
 '(2016)',
 '(1998)',
 '(2018)',
 '(2013)',
 '(2012)',
 '(2014)',
 '(2012)',
 '(2003)',
 '(2012)',
 '(2013)',
 '(2000)',
 '(2016)',
 '(2015)',
 '(1975)',
 '(2004)',
 '(2007)',
 '(2012)',
 '(2005)',
 '(2015)',
 '(2011)',
 '(1992)',
 '(2016)',
 '(1960)',
 '(2015)',
 '(2010)',
 '(1964)',
 '(2017)',
 '(2019)',
 '(2008)',
 '(2013)',
 '(2015)',
 '(2003)',
 '(2000)',
 '(1999)',
 '(1995)',
 '(2001)',
 '(2012)',
 '(2019)',
 '(1992)',
 '(2006)',
 '(2004)',
 '(1994)',
 '(2001)',
 '(2012)',
 '(2018)',
 '(2014)',
 '(2013)',
 '(2005)',
 '(2002)',
 '(2012)',
 '(2006)',
 '(2016)',
 '(2003)',
 '(1995)',
 '(2019)',
 '(2006)',
 '(1996)',
 '(2021)',
 '(2006)',
 '(2019)',
 '(2016)',
 '(2017)',
 '(1975)',
 '(2010)',
 '(2012)',
 '(1968)',
 '(2009)',
 '(2014)',
 '(2018)',
 '(2005)',
 '(1995)',
 '(2017)',
 '(2017)',
 '(1999)',
 '(2013)',
 '(1957)',
 '(2011)',
 '(2013)',
 '(2018)',
 '(2008)',
 '(2014)',
 '(2012)',
 '(2009)',
 '(2018)',
 '(2015)',
 '(2019)',
 '(2021)',
 '(1958)',
 '(1999)',
 '(2011)',
 '(2013)',
 '(2017)',
 '(2010)',
 '(2002)',
 '(2015)',
 '(2017)',
 '(2012)',
 '(2021)',
 '(2015)',
 '(2010)',
 '(2013)',
 '(2020)',
 '(2003)',
 '(2007)',
 '(2013)',
 '(2010)',
 '(2017)',
 '(1997)',
 '(2019)',
 '(1996)',
 '(2003)',
 '(2009)',
 '(2018)',
 '(2015)',
 '(2019)',
 '(2004)',
 '(2006)',
 '(2006)',
 '(2000)',
 '(2020)',
 '(2015)',
 '(2020)',
 '(2016)',
 '(1999)',
 '(2017)',
 '(2012)',
 '(2003)',
 '(2003)',
 '(2013)',
 '(2014)',
 '(2021)',
 '(2007)',
 '(2004)',
 '(2021)',
 '(2019)',
 '(2006)',
 '(2017)',
 '(2016)',
 '(2012)',
 '(2001)',
 '(1987)',
 '(2011)',
 '(2018)',
 '(2018)',
 '(2016)',
 '(1978)',
 '(2015)',
 '(2008)',
 '(2004)',
 '(2014)',
 '(2015)',
 '(2011)',
 '(2008)',
 '(2012)',
 '(2007)',
 '(2004)',
 '(2001)',
 '(2014)',
 '(2013)',
 '(2008)',
 '(2016)',
 '(2004)',
 '(2008)',
 '(2011)',
 '(2012)',
 '(2019)',
 '(2020)',
 '(1994)',
 '(1993)',
 '(2016)',
 '(2017)',
 '(2018)',
 '(2014)',
 '(2008)',
 '(2021)',
 '(2019)',
 '(1998)',
 '(2013)',
 '(1990)',
 '(2005)',
 '(2015)',
 '(2007)',
 '(2016)',
 '(2011)',
 '(2020)',
 '(2014)',
 '(2009)',
 '(1993)',
 '(2014)',
 '(2015)',
 '(2016)',
 '(2007)',
 '(2015)',
 '(2009)',
 '(2020)',
 '(2016)']

In [39]:
ind_year_of_release=ind_year_of_release[:100]

In [40]:
len(ind_year_of_release)

100

In [41]:
print(len(ind_movie_name),len(imdb_ind_ratings),len(ind_year_of_release))

100 100 100

# Frameing the dataset:

Importing pandas and frameing the data.

In [42]:
import pandas as pd
indian_movies=pd.DataFrame({})
indian_movies['Name']=ind_movie_name
indian_movies['Rating']=imdb_ind_ratings
indian_movies['Release']=ind_year_of_release

In [43]:
indian_movies

                                 Name Rating Release
0                             Nayakan    8.5  (1987)
1                   Pariyerum Perumal    8.5  (2018)
2                          Anbe Sivam    8.5  (2003)
3                   C/o Kancharapalem    8.5  (2018)
4                             Golmaal    8.5  (1979)
..                                ...    ...     ...
95                    Andaz Apna Apna    8.1  (1994)
96  Lagaan: Once Upon a Time in India    8.1  (2001)
97                            Kahaani    8.1  (2012)
98           Uri: The Surgical Strike    8.1  (2018)
99                                 PK    8.1  (2014)

[100 rows x 3 columns]

This is the required DataFrame.

# 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [44]:
page=requests.get("https://bookpage.com/reviews")
page

Since the response is 200 we can scrap data from this website.

In [45]:
soup=BeautifulSoup(page.content,'html.parser')

In [46]:
url=soup.find_all("h4",class_="italic")
url

[<h4 class="italic">
 <a href="/reviews/26484-lesa-cline-ransome-being-clem-childrens">Being Clem</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26469-derek-b-miller-how-to-find-your-way-dark-fiction"> <span style="font-style:normal;">★ </span>How to Find Your Way in the Dark</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26544-k-b-wagers-hold-fast-through-fire-science-fiction-fantasy">Hold Fast Through the Fire</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26542-darynda-jones-good-day-chardonnay-mystery-suspense">A Good Day for Chardonnay</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26466-mona-awad-alls-well-fiction">All’s Well</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26490-rodrigo-garcia-farewell-to-gabo-mercedes-nonfiction"> <span style="font-style:normal;">★ </span>A Farewell to Gabo and Mercedes</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26474-jeanne-thornton-summer-fun-fiction"> <span style="font-style:normal;">★ </span>Summer Fun</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26536-malla-nunn-sugar-town-queens-ya"> <span style="font-style:normal;">★ </span>Sugar Town Queens</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26462-natalie-baszile-we-are-each-others-harvest-audio">We Are Each Other’s Harvest</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26485-jerry-spinelli-dead-wednesday-childrens"> <span style="font-style:normal;">★ </span>Dead Wednesday</a>
 </h4>]

In [47]:
urls=[]
for i in url:
    for j in i.find_all("a",href=True):
        urls.append(j['href'])
urls

['/reviews/26484-lesa-cline-ransome-being-clem-childrens',
 '/reviews/26469-derek-b-miller-how-to-find-your-way-dark-fiction',
 '/reviews/26544-k-b-wagers-hold-fast-through-fire-science-fiction-fantasy',
 '/reviews/26542-darynda-jones-good-day-chardonnay-mystery-suspense',
 '/reviews/26466-mona-awad-alls-well-fiction',
 '/reviews/26490-rodrigo-garcia-farewell-to-gabo-mercedes-nonfiction',
 '/reviews/26474-jeanne-thornton-summer-fun-fiction',
 '/reviews/26536-malla-nunn-sugar-town-queens-ya',
 '/reviews/26462-natalie-baszile-we-are-each-others-harvest-audio',
 '/reviews/26485-jerry-spinelli-dead-wednesday-childrens']

Extracting book name.

In [48]:
book_name=[]
for i in urls:
    name=requests.get('https://bookpage.com'+i)
    soup=BeautifulSoup(name.content,'html.parser')
    nam=soup.find("h4",class_="italic")
    book_name.append(nam.text.replace('\n','').replace('★',''))
book_name

['Being Clem',
 ' How to Find Your Way in the Dark',
 'Hold Fast Through the Fire',
 'A Good Day for Chardonnay',
 'All’s Well',
 ' A Farewell to Gabo and Mercedes',
 ' Summer Fun',
 ' Sugar Town Queens',
 'We Are Each Other’s Harvest',
 ' Dead Wednesday']

In [49]:
book_name=book_name[:5]

In [50]:
len(book_name)

5

Extracting author name.

In [51]:
author_name=[]
for i in urls:
    auna=requests.get('https://bookpage.com'+i)
    soup=BeautifulSoup(auna.content,'html.parser')
    aut=soup.find("p",class_="sans bold")
    author_name.append(aut.text.replace('\n',''))
author_name

['ByLesa Cline-Ransome',
 'ByDerek B. Miller',
 'ByK.B. Wagers',
 'ByDarynda Jones',
 'ByMona Awad',
 'ByRodrigo García',
 'ByJeanne Thornton',
 'ByMalla Nunn',
 'ByNatalie Baszile, Tina Lifford',
 'ByJerry Spinelli']

In [52]:
author_name=author_name[:5]

In [53]:
len(author_name)

5

Extracting reviews.

In [54]:
reviews=[]
for i in urls:
    book=requests.get('https://bookpage.com'+i)
    soup=BeautifulSoup(book.content,'html.parser')
    rev=soup.find("div",class_="article-body")
    reviews.append(rev.text)
reviews

["\n\nOn the very first page of Lesa Cline-Ransome’s Being Clem, a knock at the door brings terrible news: Clem’s father has been killed in the 1944 shipyard munitions accident that will become known as the Port Chicago disaster. Clem’s mother, unable to find anyone willing to hire a Black secretary, is soon behind on the rent, and his older sisters, busy with friends and boys, have little time for their little brother’s grief.\xa0\nWhen Clem skips a grade to attend middle school, he begins hanging out with Lymon, a new boy in town. But when Lymon begins to bully another new boy, Langston, who shares Clem's affinity for the local public library, Clem must make a difficult choice. Should he go along with Lymon, despite his misgivings, or stand up for the new boy—but risk losing a friend in the process?\nAs if all this weren’t enough for one boy to deal with, Clem's swimming lessons aren’t going smoothly either. How can Clem grow up to be a Navy man like his father when he’s afraid of the pool? Clem may know all the answers in school, but there's still so much he doesn't understand.\nAlthough Being Clem can be read independently, fans of Cline-Ransome’s previous books Finding Langston (which received a Coretta Scott King Honor) and Leaving Lymon will appreciate the daring narrative choice to place Clem in friendships with her two previous protagonists—who are, in turn, one another's enemies.\xa0\nCline-Ransome also fills Being Clem with rich details from 1940s Chicago, including the real-life, award-winning DuSable High School swim team, whose members were Black and against whom some white teams refused to compete. Cline-Ransome explores societal issues of race, class and gender alongside Clem's more internal struggles to express difficult emotions like fear and sadness. Being Clem gains poignancy from Clem’s personal journey as he mourns the father for whom he is named and whose legacy he hopes he will one day honor.\xa0\nALSO IN BOOKPAGE: Being Clem author Lesa Cline-Ransome reveals the real-life inspiration behind Clem and his friends. \n\n",
 '\n\nPrepare for surprises galore in How to Find Your Way in the Dark, a rollicking novel that begins with a lonely truck ride in New England in 1938 and follows its characters through a decade of fascinating history. Just when you think the story is heading one way, it veers in another, completely unexpected direction.\nTwelve-year-old Sheldon Horowitz and his father are driving home from Hartford, Connecticut, to Whately, Massachusetts, after honoring the one-year anniversary of Sheldon’s mother’s death. She and her sister died in a horrific movie theater fire in Hartford. And as if that isn’t enough tragedy for the novel’s first 13 pages, a truck purposely forces Sheldon and his father’s car off the road during their return trip, and Sheldon’s father dies.\nReaders of Derek B. Miller’s award-winning thriller, Norwegian by Night, will recognize Sheldon as that novel’s 82-year-old protagonist. As a Tom Sawyer-like boy in How to Find Your Way in the Dark, Sheldon is determined to make sense of his double tragedies, and his attempts to do so take the reader on one hell of a ride. As he seeks out the leering, mustached truck driver who killed his father, his quest leads him straight into danger—think mobsters, guns and jewel thefts.\nMiller has crafted a wide-ranging, years-spanning yet tightly structured plot, and he excels at placing memorable characters in unusual circumstances. Sheldon is joined in his adventures by his two older cousins, Abe and Mirabelle, and his best friend, Lenny, all of whom play pivotal roles. One summer, Lenny and Sheldon end up as bellhops at the famed Grossinger’s Resort in the Catskills, where Lenny practices standup comedy amid the glamorous, bustling atmosphere.\nAn underlying seriousness lies at the heart of all of this intrigue, hilarity and fun. Sheldon, Abe, Mirabelle and Lenny, all Jewish, must confront the many faces of antisemitism during the turbulent years of World War II. Miller weaves in a multitude of historical details, including reports of the horrors in Europe and America’s reluctance to intervene.\nThe ending of How to Find Your Way in the Dark is nothing short of brilliant, tying up a variety of loose ends while making a powerful statement about the need to fully recognize and address antisemitism. Readers are left with much to ponder, including life’s many uncertainties and cruel twists of fate. Despite these unhappy truths, we are also left with the uplifting wisdom of Lenny’s urgent prayer: “Dear God, give me the strength to be joyful.”\n\n',
 '\n\nLooking for a quick bit of adrenaline, a spot of intrigue and the drama of an international sports event? Look no further than the second entry in K.B. Wagers’ NeoG series, Hold Fast Through the Fire.\nThis second book in the author’s military science fiction series picks up roughly a year after the events of A Pale Light in the Black. The crew of Zuma’s Ghost have achieved a repeat victory at the intermilitary Boarding Games, which was quite an achievement given that the Near-Earth Orbital Guard (NeoG) are looked down upon by other branches of the armed forces. Zuma’s Ghost is facing a change of staff, and everyone is uneasy about what that means for the future of the ship. The prelims for the next year’s Games are fast approaching, and the Ghost has been put on a new task force to investigate potential smuggling issues from off-world settlements.\nNika, still off balance from the loss of his hand, is apprehensive about his new command on Zuma’s Ghost, despite the fact that it was the ship where he cut his teeth as a budding lieutenant. His budding romance with Maxine Carmichael is on the rocks, and to make things worse, he has accepted a secret assignment that will put both Max’s and the crew’s trust to the test. Chae, Zuma’s Ghost’s new pilot, has issues of their own. Forced into the NeoG as part of a plea bargain, they are torn between their growing loyalty to their new crew and the need to keep their fathers safe from intergalactic intrigue. Meanwhile, Max is certain something is desperately wrong with Nika, Chae and their new assignment, but no one will back her up. With Nika effectively gaslighting her to throw her off the scent of his new top-secret mission, Max will have to hew closely to her own instincts if she is going to get the team through the prelims in one piece—let alone their official assignment.\nUnlike A Pale Light in the Black, Hold Fast Through the Fire’s central mystery begins unrolling nearly at page one, giving the book a more sinister feel than its predecessor and pulling readers into a labyrinthine plot that surprises and delights. This does take away slightly from the Games aspect of the series, but readers who enjoyed A Pale Light in the Black’s focus on the competition won’t be disappointed. When training for the Games does make its appearance, it still packs the same adrenaline-filled punch of A Pale Light in the Black. Despite the increase in intrigue, Wagers devotes ample attention to the relationships among the crew of Zuma’s Ghost. From the exploration of Jenks’ and Max’s close friendship to Chae’s struggles to fit in with the group to Nika’s battle to accept himself after his accident, Hold Fast Through the Fire is as much about found family and interpersonal relationships as it is about mysteries or the Boarding Games.\nThis brilliant and entertaining installment in the NeoG universe is a great choice for readers looking for military drama, evocative writing and espionage.\n\n',
 '\n\nReaders who enjoy murder mysteries\xa0with lots of intertwined plotlines, quirky characters and zany hijinks topped off with a healthy dose of horniness will be delighted by bestselling author Darynda Jones’ A Good Day for Chardonnay.\nThe small tourist town of Del Sol, New Mexico, is populated by unruly residents who are staunchly community-minded and happen to be, per Sheriff Sunshine Vicram’s hilariously lusty inner monologues, quite desirable. To wit, her chief deputy and BFF Quincy is “sexy feet, AF inches” tall. And her lifelong crush, local-badboy-turned-wealthy-distillery-owner Levi Ravinder? Well, he and his crime-aficionado family look “as though [they were] chiseled by the gods . . . [with] lean, solid bodies and razor-sharp jawlines.”\nBut while Sunshine is often mightily distracted by eye candy, she’s also dedicated to—and excellent at—her job. She’s been back in town for four months after being away for 15 years, and she has multiple mysteries to solve. The newest include a bar fight gone terribly wrong; resurfaced cold cases with ties to her own traumatic past; and a raft of false confessions. On top of that, the mayor is pressuring her to figure out if the Dangerous Daughters secret society (rumored to have run the town for decades) is real or just local legend.\nAnd then there’s Sunshine’s daughter Auri, whom fans met in series kickoff A Bad Day for Sunshine. The smart, reckless teenager is determined to solve crimes just like her mom, and she pursues a sweet old lady who might be a serial killer. Auri is also Sunshine’s personal mystery: at 17, the sheriff was abducted by Levi’s uncle and held captive for five days, after which she emerged pregnant and with severe memory loss.\nWill Levi’s family finally answer Sunshine’s questions about her abduction? Can she catch the marauding raccoon that’s terrorizing the town? How are the cold cases tied to these complex new crimes? With her trademark warmth and humor, Jones answers some of these questions and raises even more, nicely teeing up the next installment in Sunshine’s complicated, sexy and highly entertaining life story.\n\n',
 '\n\nMiranda Fitch, the protagonist of Mona Awad’s third novel, All’s Well, might best be described—to borrow the title of the 1988 Pedro Almodóvar film—as a woman on the verge of a nervous breakdown. A professor of theater studies at a small liberal arts college in Massachusetts, she’s laboring mightily to stage a student production of Shakespeare’s All’s Well That Ends Well, which she thinks of as a “problem play,” one that’s “neither a tragedy nor a comedy. Both, always both.”\nApart from a rebellious cast, Miranda’s primary obstacle is unremitting pain from an injury she sustained when she tumbled from a stage during her promising but brief acting career. The resulting hip injury led to serious back problems unrelieved by the ministrations of a string of doctors and physical therapists, transforming Miranda, divorced and not yet 40 years old, into a pill-gobbling automaton who has abandoned all hope of her own happy ending.\nAll’s Well quickly leaves behind this depressingly naturalistic scenario to veer into the realm of fabulism when Miranda encounters three mysterious men in a local pub. The trio, who inexplicably have intimate knowledge of her life and struggles, grace her with what seems like a miracle cure. But as she discovers, even healing can come at a price.\nAwad efficiently portrays both Miranda’s confrontation with chronic pain and the slowly evaporating patience of the people in her orbit (her ex-husband, Paul; colleague and friend Grace; and Mark, the last in a chain of physical therapists) with her lack of improvement. Anyone who’s been similarly afflicted or knows someone who has will recognize this scenario. Awad leaves it to the reader to assess how much of Miranda’s mental turmoil is the product of an inexplicable but desperately welcome truce in her battle with pain, and how much flows from her encounter with supernatural forces. It’s a wild, at times over-the-top ride, but like Shakespeare’s eponymous work, there’s both pathos and humor in this story of how we suffer and the ways in which we’re healed.\n\n',
 "\n\nRodrigo García is a film and television director, writer, cinematographer and son of the late Nobel winner Gabriel García Márquez, affectionately known as Gabo, author of One Hundred Years of Solitude and Love in the Time of Cholera. When García’s world-famous father began his long slide toward dementia, García began taking notes. “Writing about the death of loved ones must be about as old as writing itself, and yet the inclination to do it instantly ties me up in knots,” he writes. “I am appalled that I am thinking of taking notes, ashamed as I take notes, disappointed in myself as I revise notes.”\nAll who have loved García Márquez’s works will rejoice that his son overcame that angst, dutifully waiting until after his father’s death in 2014 and his mother’s death in 2020 to publish his intimate, endearing tribute, A Farewell to Gabo and Mercedes: A Son’s Memoir of Gabriel García Márquez and Mercedes Barcha. García’s notes, acutely observational, are simultaneously infused with love, respect and the pain of loss. He admits that his relationships with his parents were complicated. Their lives had public, private and even secret components, and García frets about crossing lines that might leave his parents helplessly exposed. Still, from his dying father’s bedside in Mexico City to his last moment with his mother (shared digitally, as COVID-19 prevented him from traveling), García is a guardian of their dignity.\xa0\nYet this memoir’s details are indeed intimate. We're ushered into García Márquez's study as he works, until the renowned author slowly realizes he no longer can. García’s mother rises above her grief, insisting that she is a woman, not a widow, as she entertains the flow of mourning guests from around the globe—even the complete stranger who manages to con her out of quite a bit of cash. We follow García into the crematorium as he gazes upon his father for the last time, tempering that blow with the thought that García Márquez might have enjoyed flirting with the funeral worker who gave his body a little makeup, a final flourish on his way out.\nFittingly, García begins each chapter with an excerpt from one of his father’s works, and it’s this connection between life and art that holds this intense memoir together. As one epigraph from Love in the Time of Cholera puts it, “he was overwhelmed by the belated suspicion that it is life, more than death, that has no limits.”\n\n",
 '\n\nIt’s been nine years since the publication of Jeanne Thornton’s debut, The Dream of Doctor Bantam, and her second novel, Summer Fun, has been worth the wait. Dizzying and deliciously weird, it’s a sprawling yet intimate story about music, hidden trans histories and the transformative act of creation.\nGala, a trans woman living in small-town New Mexico, is obsessed with a classic 1960s pop band called the Get Happies and their mysterious lead singer, B\xa0 \xa0 \xa0 \xa0. In a series of remarkable letters to B\xa0 \xa0 \xa0 \xa0, full of whip-smart observations and dark humor, Gala slowly reveals the true story of B\xa0 \xa0 \xa0 \xa0’s life and music, shedding light on herself in the process.\nThis is no ordinary epistolary novel. Thornton discards convention, choosing instead to use the form to explore the possibilities of cross-generational queer and trans conversations. Gala’s letters act as a kind of portal, a manifestation of trans magic. She addresses B\xa0 \xa0 \xa0 \xa0 directly, often inhabiting the singer’s thoughts and emotions. Gala tells B\xa0 \xa0 \xa0 \xa0’s story from the inside, as if she were the one who lived it. Each letter is a small act of discovery, an unfolding mystery. The unique epistolary format makes space for deep connections, not only between Gala and B\xa0 \xa0 \xa0 \xa0 but also between Gala and the reader. It is impossible not to read these heartfelt missives without becoming wholly invested in her world.\nReflecting on the impossibility of authenticity in the music industry, Gala muses as B\xa0 \xa0 \xa0 \xa0, “No one gets to sound like who they are; that isn’t how success operates.” But Thornton proves this isn’t always the case. Gala’s narration is singular—assured, sarcastic and yearning. She’s determined to tell her story, as well as B\xa0 \xa0 \xa0 \xa0’s, through her own particular lens, unrefined and vulnerable, full of messy contradictions. Thornton’s plotting is masterful, her prose elegant and her characterization nuanced. But it’s the emotional heft of Gala’s narrative voice that sets this novel apart.\nSummer Fun is unpredictable and delightful, structurally innovative and epic in scope. It’s a heartbreaking yet hopeful addition to the growing canon of literature that celebrates the complexity of trans lives.\n\n',
 "\n\nExplosive, long-buried family secrets lie at the heart of Malla Nunn’s vivid and arresting Sugar Town Queens, but so do friendship, hope and the promise of love.\nAptly named for the Zulu word for power, Amandla Harden is a bright and empathetic biracial girl who lives with her unstable white mother, Annalisa, in a tidy one-room shack on the outskirts of Durban, South Africa. Their daily life is a balancing act. Amandla manages their household and the vicissitudes of her mother’s fractured mind while also having typical teenage experiences. She worries about how to make their food money last but also thinks about university and wonders if a cute boy will ever look at her the way she can't help but look at him. It’s a precarious existence, but she’s mostly made it work.\nThen around her 15th birthday, Amandla finds a mysterious note and a large wad of cash among her mother’s belongings and decides to investigate what Annalisa has been hiding for so long. The quest turns both of their lives upside down as Amandla opens herself up to new friends and turns to neighbors for support.\nAs Amandla explores her mother’s connections to an entirely different world from the one Amandla has grown up in, Nunn takes readers into intimate spaces within vastly different sectors of a very stratified and segregated society. Along the way, the novel effectively explores the contradictory racial dynamics of contemporary, post-apartheid South Africa.\nNunn paints an especially grounded and nuanced portrait of life in the townships. Danger lurks around the corner in this ramshackle, hardscrabble place, but the crowded lanes are also full of complicated people who care about and take care of each other. Annalisa and Amandla’s home comes alive on the page—the good, the bad, the ugly and the merely human.\nNunn’s evocative storytelling will make you ache for Amandla. She is a complex creation whose circumstances are sensational but whose journey is relatable. Nunn surrounds Amandla with a diverse cast of characters who are similarly interesting and strongly developed. The novel’s hard truths about race and class are more than balanced by the love of all types that Amandla experiences. These supportive relationships are the most rewarding part of Sugar Town Queens, the glue that holds it all together.\nALSO IN BOOKPAGE: Malla Nunn reveals the personal memories she drew on to create Sugar Town Queens.\n\n",

In [55]:
reviews=reviews[:5]

In [56]:
len(reviews)

5

In [57]:
page=requests.get("https://bookpage.com/reviews")
page

In [58]:
soup=BeautifulSoup(page.content)

Extracting genre.

In [59]:
gen=soup.find_all("p",class_="genre-links hidden-phone")
gen

[<p class="genre-links hidden-phone">
 <a href="/search?book_genre=children_s">Children's</a>
  /
 <a href="/search?book_genre=middle_grade">Middle Grade</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=coming_of_age">Coming of Age</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=science_fiction_fantasy">Science Fiction &amp; Fantasy</a>
  /
 <a href="/search?book_genre=science_fiction">Science Fiction</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=mystery_suspense">Mystery &amp; Suspense</a>
  /
 <a href="/search?book_genre=mystery">Mystery</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=literary_fiction">Literary Fiction</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=memoir">Memoir</a>
  /
 <a href="/search?book_genre=family_relationships">Family &amp; Relationships</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=literary_fiction">Literary Fiction</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=ya">YA</a>
  /
 <a href="/search?book_genre=ya_fiction">YA Fiction</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=audio">Audio</a>
  /
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=african_american_history">African American History</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=children_s">Children's</a>
  /
 <a href="/search?book_genre=middle_grade">Middle Grade</a>
 </p>]

In [60]:
genre=[]
for i in gen:
    for j in i.find_all("a"):
        genre.append(j.text.replace("\n"," "))
genre

["Children's",
 'Middle Grade',
 'Fiction',
 'Coming of Age',
 'Science Fiction & Fantasy',
 'Science Fiction',
 'Mystery & Suspense',
 'Mystery',
 'Fiction',
 'Literary Fiction',
 'Nonfiction',
 'Memoir',
 'Family & Relationships',
 'Fiction',
 'Literary Fiction',
 'YA',
 'YA Fiction',
 'Audio',
 'Nonfiction',
 'African American History',
 "Children's",
 'Middle Grade']

In [61]:
genre=genre[:5]

In [62]:
len(genre)

5

In [63]:
print(len(book_name),len(author_name),len(reviews),len(genre))

5 5 5 5

# Frameing the dataset:

Importing pandas and Frameing data.

In [64]:
import pandas as pd
book_page=pd.DataFrame({})
book_page['Name']=book_name
book_page['Author']=author_name
book_page['Reviews']=reviews
book_page['Genre']=genre

In [65]:
book_page

,Name,Author,Reviews,Genre
0,Being Clem,ByLesa Cline-Ransome,\n\nOn the very first page of Lesa Cline-Ranso...,Children's
1,How to Find Your Way in the Dark,ByDerek B. Miller,\n\nPrepare for surprises galore in How to Fin...,Middle Grade
2,Hold Fast Through the Fire,ByK.B. Wagers,"\n\nLooking for a quick bit of adrenaline, a s...",Fiction
3,A Good Day for Chardonnay,ByDarynda Jones,\n\nReaders who enjoy murder mysteries with lo...,Coming of Age
4,All’s Well,ByMona Awad,"\n\nMiranda Fitch, the protagonist of Mona Awa...",Science Fiction & Fantasy

This is the required DataFrame.

# 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:

# i)  Top 10 ODI teams in men’s cricket along with the records for matches, points andrating.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [66]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [67]:
soup=BeautifulSoup(page.content,'html.parser')

In [68]:
team=soup.find_all("span",class_="u-hide-phablet")
team

[<span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Afghanistan</span>,
 <span class="u-hide-phablet">Netherlands</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Zimbabwe</span>,
 <span class="u-hide-phablet">Scotland</span>,
 <span class="u-hide-phablet">Oman</span>,
 <span class="u-hide-phablet">Nepal</span>,
 <span class="u-hide-phablet">UAE</span>,
 <span class="u-hide-phablet">Namibia</span>,
 <span class="u-hide-phablet">United States</span>,
 <span class="u-hide-phablet">Papua New Guinea</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [69]:
Team_name=[]
for i in team:
        Team_name.append(i.text.replace("\n"," "))
Team_name=Team_name[:10]

In [70]:
Team_name

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [71]:
len(Team_name)

10

In [72]:
mat=soup.find_all("td",class_="rankings-block__banner--matches")
mat

In [73]:
Matches=[]

mat=soup.find_all("td",class_="rankings-block__banner--matches")
for i in mat:
    Matches.append(i.text)
Matches

['17']

In [74]:
comp_info=[]
mat_1=soup.find_all("td",class_="table-body__cell u-center-text")
for i in mat_1:
    comp_info.append(i.text.replace("\n"," "))
    
comp_info

for i in range(0,len(comp_info),2):
    Matches.append(comp_info[i])
Matches

['17',
 '32',
 '27',
 '32',
 '22',
 '27',
 '29',
 '29',
 '29',
 '17',
 '7',
 '23',
 '17',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5']

In [75]:
Matches=Matches[:10]

In [76]:
Matches

['17', '32', '27', '32', '22', '27', '29', '29', '29', '17']

In [77]:
len(Matches)

10

In [78]:
poi=soup.find_all("td",class_="rankings-block__banner--points")
poi

In [79]:
Points=[]

poi=soup.find_all("td",class_="rankings-block__banner--points")
for i in poi:
    Points.append(i.text)
Points

['2,054']

In [80]:
comp_info_1=[]
poi_1=soup.find_all("td",class_="table-body__cell u-center-text")
for i in poi_1:
    comp_info_1.append(i.text)
    
comp_info_1

for i in range(1,len(comp_info_1),2):
    Points.append(comp_info_1[i])
Points

['2,054',
 '3,793',
 '3,109',
 '3,624',
 '2,267',
 '2,524',
 '2,639',
 '2,458',
 '2,303',
 '1,054',
 '336',
 '1,067',
 '646',
 '258',
 '240',
 '119',
 '190',
 '97',
 '93',
 '0']

In [81]:
Points=Points[:10]

In [82]:
Points

['2,054',
 '3,793',
 '3,109',
 '3,624',
 '2,267',
 '2,524',
 '2,639',
 '2,458',
 '2,303',
 '1,054']

In [83]:
len(Points)

10

In [84]:
rat=soup.find_all("td",class_="rankings-block__banner--rating u-text-right")
rat

[<td class="rankings-block__banner--rating u-text-right">
                             121
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>]

In [85]:
Ratings=[]

rat=soup.find_all("td",class_="rankings-block__banner--rating u-text-right")
for i in rat:
    Ratings.append(i.text.replace('\n','').strip())
Ratings

['121']

In [86]:
comp_info_2=[]
rat_1=soup.find_all("td",class_="table-body__cell u-text-right rating")
for i in rat_1:
    comp_info_2.append(i.text.replace('\n','').strip())
    
comp_info_2
for i in range(0,len(comp_info_2)):
    Ratings.append(comp_info_2[i])
Ratings

['121',
 '119',
 '115',
 '113',
 '103',
 '93',
 '91',
 '85',
 '79',
 '62',
 '48',
 '46',
 '38',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [87]:
Ratings=Ratings[:10]

In [88]:
Ratings

['121', '119', '115', '113', '103', '93', '91', '85', '79', '62']

In [89]:
len(Ratings)

10

In [90]:
print(len(Team_name),len(Matches),len(Points),len(Ratings))

10 10 10 10

# Frameing the dataset:

In [91]:
import pandas as pd
Top_10_teams=pd.DataFrame({})
Top_10_teams['Team Name']=Team_name
Top_10_teams['No of matches']=Matches
Top_10_teams['points']=Points
Top_10_teams['ratings']=Ratings

In [92]:
Top_10_teams

      Team Name No of matches points ratings
0   New Zealand            17  2,054     121
1       England            32  3,793     119
2     Australia            27  3,109     115
3         India            32  3,624     113
4  South Africa            22  2,267     103
5      Pakistan            27  2,524      93
6    Bangladesh            29  2,639      91
7   West Indies            29  2,458      85
8     Sri Lanka            29  2,303      79
9   Afghanistan            17  1,054      62

# ii)  Top 10 ODI Batsmen in men along with the records of their team and rating.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [93]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page

In [94]:
soup=BeautifulSoup(page.content)

In [95]:
pla=soup.find_all("div",class_="rankings-block__banner--name-large")
pla

In [96]:
players=[]

pla=soup.find_all("div",class_="rankings-block__banner--name-large")
for i in pla:
    players.append(i.text)
players

['Babar Azam']

In [97]:
comp_info_p=[]
pla_1=soup.find_all("td",class_="table-body__cell rankings-table__name name")
for i in pla_1:
    comp_info_p.append(i.text.replace('\n','').strip())
    
comp_info_p
for i in range(0,len(comp_info_p)):
    players.append(comp_info_p[i])
players=players[:10]
players

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Quinton de Kock',
 'Shai Hope',
 'Kane Williamson']

In [98]:
len(players)

10

In [99]:
tea=soup.find_all("div",class_="rankings-block__banner--nationality")
tea

[<div class="rankings-block__banner--nationality">
 <div class="flag-15 PAK"></div>
 <span class="rankings-block__banner--nation"></span>PAK
                     </div>]

In [100]:
teams=[]

tea=soup.find_all("div",class_="rankings-block__banner--nationality")
for i in tea:
    teams.append(i.text.replace('\n','').strip())
teams

['PAK']

In [101]:
comp_info_t=[]
tea_1=soup.find_all("span",class_="table-body__logo-text")
for i in tea_1:
    comp_info_t.append(i.text.replace('\n','').strip())
    
comp_info_t
for i in range(0,len(comp_info_t)):
    teams.append(comp_info_t[i])
teams=teams[:10]
teams

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'SA', 'WI', 'NZ']

In [102]:
len(teams)

10

In [103]:
rat=soup.find_all("div",class_="rankings-block__banner--rating")
rat

In [104]:
ratings=[]

rat=soup.find_all("div",class_="rankings-block__banner--rating")
for i in rat:
    ratings.append(i.text.replace('\n','').strip())
ratings

['873']

In [105]:
comp_info_r=[]
rat_1=soup.find_all("td",class_="table-body__cell rating")
for i in rat_1:
    comp_info_r.append(i.text.replace('\n','').strip())
    
comp_info_r
for i in range(0,len(comp_info_r)):
    ratings.append(comp_info_r[i])
ratings=ratings[:10]
ratings

['873', '844', '813', '801', '779', '775', '762', '758', '758', '754']

In [106]:
len(ratings)

10

In [107]:
print(len(players),len(teams),len(ratings))

10 10 10

# Frameing the dataset:

In [108]:
import pandas as pd
Top_10_batsmen=pd.DataFrame({})
Top_10_batsmen['Players']=players
Top_10_batsmen['Team name']=teams
Top_10_batsmen['Ratings']=ratings

In [109]:
Top_10_batsmen

           Players Team name Ratings
0       Babar Azam       PAK     873
1      Virat Kohli       IND     844
2     Rohit Sharma       IND     813
3      Ross Taylor        NZ     801
4      Aaron Finch       AUS     779
5   Jonny Bairstow       ENG     775
6     David Warner       AUS     762
7  Quinton de Kock        SA     758
8        Shai Hope        WI     758
9  Kane Williamson        NZ     754

# iii)  Top 10 ODI bowlers along with the records of their team andrating.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [110]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page

In [111]:
soup=BeautifulSoup(page.content)

In [112]:
pla=soup.find_all("div",class_="rankings-block__banner--name-large")
pla

In [113]:
players=[]

pla=soup.find_all("div",class_="rankings-block__banner--name-large")
for i in pla:
    players.append(i.text)
players

['Trent Boult']

In [114]:
comp_info_p=[]
pla_1=soup.find_all("td",class_="table-body__cell rankings-table__name name")
for i in pla_1:
    comp_info_p.append(i.text.replace('\n','').strip())
    
comp_info_p
for i in range(0,len(comp_info_p)):
    players.append(comp_info_p[i])
players=players[:10]
players

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [115]:
len(players)

10

In [116]:
tea=soup.find_all("div",class_="rankings-block__banner--nationality")
tea

[<div class="rankings-block__banner--nationality">
 <div class="flag-15 NZ"></div>
 <span class="rankings-block__banner--nation"></span>NZ
                     </div>]

In [117]:
teams=[]

tea=soup.find_all("div",class_="rankings-block__banner--nationality")
for i in tea:
    teams.append(i.text.replace('\n','').strip())
teams

['NZ']

In [118]:
comp_info_t=[]
tea_1=soup.find_all("span",class_="table-body__logo-text")
for i in tea_1:
    comp_info_t.append(i.text.replace('\n','').strip())
    
comp_info_t
for i in range(0,len(comp_info_t)):
    teams.append(comp_info_t[i])
teams=teams[:10]
teams

['NZ', 'AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA']

In [119]:
len(teams)

10

In [120]:
rat=soup.find_all("div",class_="rankings-block__banner--rating")
rat

In [121]:
ratings=[]

rat=soup.find_all("div",class_="rankings-block__banner--rating")
for i in rat:
    ratings.append(i.text.replace('\n','').strip())
ratings

['737']

In [122]:
comp_info_r=[]
rat_1=soup.find_all("td",class_="table-body__cell rating")
for i in rat_1:
    comp_info_r.append(i.text.replace('\n','').strip())
    
comp_info_r
for i in range(0,len(comp_info_r)):
    ratings.append(comp_info_r[i])
ratings=ratings[:10]
ratings

['737', '709', '708', '700', '692', '691', '679', '652', '650', '648']

In [123]:
len(ratings)

10

In [124]:
print(len(players),len(teams),len(ratings))

10 10 10

# Frameing the dataset:

In [125]:
import pandas as pd
Top_10_bowlers=pd.DataFrame({})
Top_10_bowlers['Players']=players
Top_10_bowlers['Team name']=teams
Top_10_bowlers['Ratings']=ratings

In [126]:
Top_10_bowlers

            Players Team name Ratings
0       Trent Boult        NZ     737
1    Josh Hazlewood       AUS     709
2  Mujeeb Ur Rahman       AFG     708
3      Chris Woakes       ENG     700
4      Mehedi Hasan       BAN     692
5        Matt Henry        NZ     691
6    Jasprit Bumrah       IND     679
7    Mitchell Starc       AUS     652
8   Shakib Al Hasan       BAN     650
9     Kagiso Rabada        SA     648

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:

# i)   Top 10 ODI teams in women’s cricket along with the records for matches, points andrating.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [127]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [128]:
soup=BeautifulSoup(page.content)

In [129]:
tea=soup.find_all("span",class_="u-hide-phablet")
tea

[<span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [130]:
teams=[]

tea=soup.find_all("span",class_="u-hide-phablet")
for i in tea:
    teams.append(i.text)
teams

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland',
 '',
 '',
 '',
 '',
 '']

In [131]:
teams=teams[:10]
teams

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [132]:
len(teams)

10

In [133]:
mat=soup.find_all("td",class_="rankings-block__banner--matches")
mat

In [134]:
matches=[]

mat=soup.find_all("td",class_="rankings-block__banner--matches")
for i in mat:
    matches.append(i.text.replace('\n','').strip())
matches

['18']

In [135]:
comp_info_m=[]
mat_1=soup.find_all("td",class_="table-body__cell u-center-text")
for i in mat_1:
    comp_info_m.append(i.text.replace('\n','').strip())
    
comp_info_m
for i in range(0,len(comp_info_m),2):
    matches.append(comp_info_m[i])
matches

['18', '20', '24', '23', '21', '17', '20', '5', '11', '2']

In [136]:
len(matches)

10

In [137]:
poi=soup.find_all("td",class_="rankings-block__banner--points")
poi

In [138]:
points=[]

poi=soup.find_all("td",class_="rankings-block__banner--points")
for i in poi:
    points.append(i.text.replace('\n','').strip())
points

['2,955']

In [139]:
comp_info_p=[]
poi_1=soup.find_all("td",class_="table-body__cell u-center-text")
for i in poi_1:
    comp_info_p.append(i.text.replace('\n','').strip())
    
comp_info_p
for i in range(1,len(comp_info_p),2):
    points.append(comp_info_p[i])
points=points[:10]
points

['2,955',
 '2,370',
 '2,828',
 '2,535',
 '1,947',
 '1,427',
 '1,496',
 '306',
 '519',
 '25']

In [140]:
len(points)

10

In [141]:
rat=soup.find_all("td",class_="rankings-block__banner--rating u-text-right")
rat

[<td class="rankings-block__banner--rating u-text-right">
                             164
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>]

In [142]:
ratings=[]

rat=soup.find_all("td",class_="rankings-block__banner--rating u-text-right")
for i in rat:
    ratings.append(i.text.replace('\n','').strip())
ratings

['164']

In [143]:
comp_info_r=[]
rat_1=soup.find_all("td",class_="table-body__cell u-text-right rating")
for i in rat_1:
    comp_info_r.append(i.text.replace('\n','').strip())
    
comp_info_r
for i in range(0,len(comp_info_r)):
    ratings.append(comp_info_r[i])
ratings=ratings[:10]
ratings

['164', '119', '118', '110', '93', '84', '75', '61', '47', '13']

In [144]:
len(ratings)

10

In [145]:
print(len(teams),len(matches),len(points),len(ratings))

10 10 10 10

# Frameing the dataset:

In [146]:
import pandas as pd
Top_10_women=pd.DataFrame({})
Top_10_women['Team name']=teams
Top_10_women['No of matches']=matches
Top_10_women['Points']=points
Top_10_women['Ratings']=ratings

In [147]:
Top_10_women

      Team name No of matches Points Ratings
0     Australia            18  2,955     164
1       England            20  2,370     119
2  South Africa            24  2,828     118
3         India            23  2,535     110
4   New Zealand            21  1,947      93
5   West Indies            17  1,427      84
6      Pakistan            20  1,496      75
7    Bangladesh             5    306      61
8     Sri Lanka            11    519      47
9       Ireland             2     25      13

# ii)  Top 10 women’s ODI players along with the records of their team and rating.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [148]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page

In [149]:
soup=BeautifulSoup(page.content)

In [150]:
pla=soup.find_all("div",class_="rankings-block__banner--name-large")
pla

In [151]:
players=[]

pla=soup.find_all("div",class_="rankings-block__banner--name-large")
for i in pla:
    players.append(i.text.replace('\n','').strip())
players

['Mithali Raj']

In [152]:
comp_info_p=[]
pla_1=soup.find_all("td",class_="table-body__cell rankings-table__name name")
for i in pla_1:
    comp_info_p.append(i.text.replace('\n','').strip())
    
comp_info_p
for i in range(0,len(comp_info_p)):
    players.append(comp_info_p[i])
players=players[:10]
players

['Mithali Raj',
 'Lizelle Lee',
 'Alyssa Healy',
 'Tammy Beaumont',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Natalie Sciver',
 'Smriti Mandhana',
 'Laura Wolvaardt']

In [153]:
len(players)

10

In [154]:
tea=soup.find_all("div",class_="rankings-block__banner--nationality")
tea

[<div class="rankings-block__banner--nationality">
 <div class="flag-15 IND"></div>
 <span class="rankings-block__banner--nation"></span>IND
                     </div>]

In [155]:
team=[]

tea=soup.find_all("div",class_="rankings-block__banner--nationality")
for i in tea:
    team.append(i.text.replace('\n','').strip())
team

['IND']

In [156]:
comp_info_t=[]
tea_1=soup.find_all("span",class_="table-body__logo-text")
for i in tea_1:
    comp_info_t.append(i.text.replace('\n','').strip())
    
comp_info_t
for i in range(0,len(comp_info_t)):
    team.append(comp_info_t[i])
team=team[:10]
team

['IND', 'SA', 'AUS', 'ENG', 'WI', 'AUS', 'NZ', 'ENG', 'IND', 'SA']

In [157]:
len(team)

10

In [158]:
rat=soup.find_all("div",class_="rankings-block__banner--rating")
rat

In [159]:
ratings=[]

rat=soup.find_all("div",class_="rankings-block__banner--rating")
for i in rat:
    ratings.append(i.text.replace('\n','').strip())
ratings

['762']

In [160]:
comp_info_r=[]
rat_1=soup.find_all("td",class_="table-body__cell rating")
for i in rat_1:
    comp_info_r.append(i.text.replace('\n','').strip())
    
comp_info_r
for i in range(0,len(comp_info_r)):
    ratings.append(comp_info_r[i])
ratings=ratings[:10]
ratings

['762', '758', '756', '754', '736', '723', '715', '706', '701', '683']

In [161]:
len(ratings)

10

In [162]:
print(len(players),len(team),len(ratings))

10 10 10

# Frameing the dataset:

In [163]:
import pandas as pd
Top_women_bat=pd.DataFrame({})
Top_women_bat['Players']=players
Top_women_bat['Team']=team
Top_women_bat['Ratings']=ratings

In [164]:
Top_women_bat

             Players Team Ratings
0        Mithali Raj  IND     762
1        Lizelle Lee   SA     758
2       Alyssa Healy  AUS     756
3     Tammy Beaumont  ENG     754
4    Stafanie Taylor   WI     736
5        Meg Lanning  AUS     723
6  Amy Satterthwaite   NZ     715
7     Natalie Sciver  ENG     706
8    Smriti Mandhana  IND     701
9    Laura Wolvaardt   SA     683

# iii)  Top 10 women’s ODI all-rounder along with the records of their team andrating

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [165]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page

In [166]:
soup=BeautifulSoup(page.content)

In [167]:
pla=soup.find_all("div",class_="rankings-block__banner--name-large")
pla

In [168]:
players=[]

pla=soup.find_all("div",class_="rankings-block__banner--name-large")
for i in pla:
    players.append(i.text.replace('\n','').strip())
players

['Marizanne Kapp']

In [169]:
comp_info_p=[]
pla_1=soup.find_all("td",class_="table-body__cell rankings-table__name name")
for i in pla_1:
    comp_info_p.append(i.text.replace('\n','').strip())
    
comp_info_p
for i in range(0,len(comp_info_p)):
    players.append(comp_info_p[i])
players=players[:10]
players

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Katherine Brunt']

In [170]:
len(players)

10

In [171]:
tea=soup.find_all("div",class_="rankings-block__banner--nationality")
tea

[<div class="rankings-block__banner--nationality">
 <div class="flag-15 SA"></div>
 <span class="rankings-block__banner--nation"></span>SA
                     </div>]

In [172]:
team=[]

tea=soup.find_all("div",class_="rankings-block__banner--nationality")
for i in tea:
    team.append(i.text.replace('\n','').strip())
team

['SA']

In [173]:
comp_info_t=[]
tea_1=soup.find_all("span",class_="table-body__logo-text")
for i in tea_1:
    comp_info_t.append(i.text.replace('\n','').strip())
    
comp_info_t
for i in range(0,len(comp_info_t)):
    team.append(comp_info_t[i])
team=team[:10]
team

['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'ENG']

In [174]:
len(team)

10

In [175]:
rat=soup.find_all("div",class_="rankings-block__banner--rating")
rat

In [176]:
ratings=[]

rat=soup.find_all("div",class_="rankings-block__banner--rating")
for i in rat:
    ratings.append(i.text.replace('\n','').strip())
ratings

['418']

In [177]:
comp_info_r=[]
rat_1=soup.find_all("td",class_="table-body__cell rating")
for i in rat_1:
    comp_info_r.append(i.text.replace('\n','').strip())
    
comp_info_r
for i in range(0,len(comp_info_r)):
    ratings.append(comp_info_r[i])
ratings=ratings[:10]
ratings

['418', '418', '394', '365', '331', '307', '252', '243', '242', '239']

In [178]:
len(ratings)

10

In [179]:
print(len(players),len(team),len(ratings))

10 10 10

# Frameing the dataset:

In [180]:
import pandas as pd
Top_women_all=pd.DataFrame({})
Top_women_all['Players']=players
Top_women_all['Team']=team
Top_women_all['Ratings']=ratings

In [181]:
Top_women_all

            Players Team Ratings
0    Marizanne Kapp   SA     418
1      Ellyse Perry  AUS     418
2   Stafanie Taylor   WI     394
3    Natalie Sciver  ENG     365
4     Deepti Sharma  IND     331
5     Jess Jonassen  AUS     307
6  Ashleigh Gardner  AUS     252
7  Dane van Niekerk   SA     243
8     Sophie Devine   NZ     242
9   Katherine Brunt  ENG     239

# 7.  Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [8]:
page=requests.get("https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss_2")
page

In [9]:
soup=BeautifulSoup(page.content)

In [10]:
p_name=soup.find_all("span",class_="a-size-medium a-color-base a-text-normal")
p_name

[<span class="a-size-medium a-color-base a-text-normal">Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera &amp; Full HD+ Display</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime</span>,
 <span class="a-size-medium a-color-base a-text-normal">OPPO A31 (Mystery Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi Note 10 (Frost White, 4GB RAM, 64GB Storage) - Super Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M12 (Black,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate</span>,
 <span class="a-size-medium a-color-base a-text-normal">Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M12 (Black,6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime</span>,
 <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime</span>]

In [33]:
product_name=[]

p_name=soup.find_all("span",class_="a-size-medium a-color-base a-text-normal")
for i in p_name:
    product_name.append(i.text.replace('\n','').strip())
product_name

['Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'OPPO A31 (Mystery Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi Note 10 (Frost White, 4GB RAM, 64GB Storage) - Super Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (Black,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor',
 'Samsung Galaxy M12 (Black,6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime']

In [34]:
product_name=product_name[:12]

In [21]:
pri=soup.find_all("span",class_="a-offscreen")
pri

[<span class="a-offscreen">₹6,999</span>,
 <span class="a-offscreen">₹8,499</span>,
 <span class="a-offscreen">₹8,999</span>,
 <span class="a-offscreen">₹10,999</span>,
 <span class="a-offscreen">₹9,999</span>,
 <span class="a-offscreen">₹14,999</span>,
 <span class="a-offscreen">₹16,999</span>,
 <span class="a-offscreen">₹21,999</span>,
 <span class="a-offscreen">₹11,499</span>,
 <span class="a-offscreen">₹14,999</span>,
 <span class="a-offscreen">₹8,999</span>,
 <span class="a-offscreen">₹10,999</span>,
 <span class="a-offscreen">₹10,990</span>,
 <span class="a-offscreen">₹12,990</span>,
 <span class="a-offscreen">₹12,999</span>,
 <span class="a-offscreen">₹15,999</span>,
 <span class="a-offscreen">₹12,490</span>,
 <span class="a-offscreen">₹15,990</span>,
 <span class="a-offscreen">₹10,999</span>,
 <span class="a-offscreen">₹12,999</span>,
 <span class="a-offscreen">₹12,999</span>,
 <span class="a-offscreen">₹15,999</span>,
 <span class="a-offscreen">₹13,499</span>,
 <span class="a-offscreen">₹15,499</span>,
 <span class="a-offscreen">₹13,499</span>,
 <span class="a-offscreen">₹15,499</span>]

In [35]:
prise=[]

pri=soup.find_all("span",class_="a-offscreen")
for i in pri:
    prise.append(i.text.replace('\n','').strip())
prise

['₹6,999',
 '₹8,499',
 '₹8,999',
 '₹10,999',
 '₹9,999',
 '₹14,999',
 '₹16,999',
 '₹21,999',
 '₹11,499',
 '₹14,999',
 '₹8,999',
 '₹10,999',
 '₹10,990',
 '₹12,990',
 '₹12,999',
 '₹15,999',
 '₹12,490',
 '₹15,990',
 '₹10,999',
 '₹12,999',
 '₹12,999',
 '₹15,999',
 '₹13,499',
 '₹15,499',
 '₹13,499',
 '₹15,499']

In [36]:
prise=prise[:12]

In [12]:
img_url=soup.find_all("img",class_="s-image")
img_url

[<img alt="Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery" class="s-image" data-image-index="1" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor" class="s-image" data-image-index="2" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers" class="s-image" data-image-index="3" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers" class="s-image" data-image-index="4" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime" class="s-image" data-image-index="5" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera &amp; Full HD+ Display" class="s-image" data-image-index="6" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor" class="s-image" data-image-index="7" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)" class="s-image" data-image-index="8" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime" class="s-image" data-image-index="9" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="OPPO A31 (Mystery Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers" class="s-image" data-image-index="10" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi Note 10 (Frost White, 4GB RAM, 64GB Storage) - Super Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 P..." class="s-image" data-image-index="11" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71SSmaLA7xS._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71SSmaLA7xS._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71SSmaLA7xS._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71SSmaLA7xS._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71SSmaLA7xS._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71SSmaLA7xS._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers" class="s-image" data-image-index="12" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M12 (Black,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate" class="s-image" data-image-index="13" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor" class="s-image" data-image-index="14" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M12 (Black,6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime" class="s-image" data-image-index="15" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime" class="s-image" data-image-index="16" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY654_QL65_.jpg 3x"/>]

In [37]:
image_url=[]

img_url=soup.find_all("img",class_="s-image")
for i in img_url:
    image_url.append(i.get("src"))
image_url

['https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71SSmaLA7xS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY218_.jpg']

In [38]:
image_url=image_url[:12]

In [23]:
rat=soup.find_all("i",class_="a-icon a-icon-star-small a-star-small-4 aok-align-bottom")
rat

[<i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.2 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.2 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.2 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.1 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.2 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.2 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.1 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.2 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.1 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.1 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.1 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"><span class="a-icon-alt">4.1 out of 5 stars</span></i>]

In [39]:
avg_rating=[]

rat=soup.find_all("i",class_="a-icon a-icon-star-small a-star-small-4 aok-align-bottom")
for i in rat:
    avg_rating.append(i.text.replace('\n','').strip())
avg_rating

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.1 out of 5 stars',
 '4.1 out of 5 stars',
 '4.1 out of 5 stars']

In [40]:
print(len(product_name),len(prise),len(image_url),len(avg_rating))

12 12 12 12

# Frameing the dataset:

In [41]:
import pandas as pd
mobile_ph=pd.DataFrame({})
mobile_ph['Product Name']=product_name
mobile_ph['Prize']=prise
mobile_ph['Image Url']=image_url
mobile_ph['Average ratings']=avg_rating

In [42]:
mobile_ph

,Product Name,Prize,Image Url,Average ratings
0,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","₹6,999",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
1,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....","₹8,499",https://m.media-amazon.com/images/I/71A9Vo1Bat...,4.2 out of 5 stars
2,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","₹8,999",https://m.media-amazon.com/images/I/61CnyJ-IbM...,4.2 out of 5 stars
3,"Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...","₹10,999",https://m.media-amazon.com/images/I/710jkZNub3...,4.1 out of 5 stars
4,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...","₹9,999",https://m.media-amazon.com/images/I/71-Su4Wr0H...,4.2 out of 5 stars
5,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","₹14,999",https://m.media-amazon.com/images/I/71X5I1cVfb...,4.2 out of 5 stars
6,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...","₹16,999",https://m.media-amazon.com/images/I/716nHhG9SW...,4.1 out of 5 stars
7,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","₹21,999",https://m.media-amazon.com/images/I/71-Su4Wr0H...,4.2 out of 5 stars
8,"Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128...","₹11,499",https://m.media-amazon.com/images/I/61d-phh4Gf...,4.1 out of 5 stars
9,"OPPO A31 (Mystery Black, 4GB RAM, 64GB Storage...","₹14,999",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.1 out of 5 stars
10,"Redmi Note 10 (Frost White, 4GB RAM, 64GB Stor...","₹8,999",https://m.media-amazon.com/images/I/71SSmaLA7x...,4.1 out of 5 stars
11,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","₹10,999",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.1 out of 5 stars

# 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [183]:
page=requests.get("https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YJJVsLUzZPY")
page

In [184]:
soup=BeautifulSoup(page.content)

In [185]:
period=[]
per= soup.find_all("div", class_="col-sm-2 forecast-label")
for i in per:
    period.append(i.text)
period

['Overnight',
 'Wednesday',
 'Wednesday Night',
 'Thursday',
 'Thursday Night',
 'Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday']

In [186]:
period=period[:9]

In [187]:
short_desc=[]
sd = soup.find_all('div',class_="col-sm-10 forecast-text")
for i in sd:        
        short_desc.append(i.text.split(',')[0])
short_desc

['Mostly cloudy',
 'Mostly cloudy',
 'Mostly cloudy',
 'Mostly cloudy',
 'Partly cloudy',
 'Mostly sunny',
 'Mostly cloudy',
 'Partly sunny',
 'Mostly cloudy',
 'Mostly sunny',
 'Partly cloudy',
 'Mostly sunny',
 'Partly cloudy',
 'Mostly sunny']

In [188]:
short_desc=short_desc[:9]

In [189]:
description=[]
des = soup.find_all('div',class_="col-sm-10 forecast-text")
for i in des:        
        description.append(i.text)
description

['Mostly cloudy, with a low around 56. West southwest wind around 13 mph. ',
 'Mostly cloudy, then gradually becoming sunny, with a high near 71. Breezy, with a west wind 10 to 15 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 32 mph. ',
 'Mostly cloudy, with a low around 57. Breezy, with a west wind 14 to 24 mph, with gusts as high as 32 mph. ',
 'Mostly cloudy, then gradually becoming sunny, with a high near 70. Breezy, with a west southwest wind 11 to 16 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 32 mph. ',
 'Partly cloudy, with a low around 56. Breezy, with a west southwest wind 14 to 24 mph, with gusts as high as 31 mph. ',
 'Mostly sunny, with a high near 69. Breezy. ',
 'Mostly cloudy, with a low around 56.',
 'Partly sunny, with a high near 67.',
 'Mostly cloudy, with a low around 56.',
 'Mostly sunny, with a high near 68.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 66.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 66.']

In [190]:
description=description[:9]

In [191]:
temperature=[]
temp = soup.find_all('p',attrs={'short-desc'})
for i in temp:
        if i.next_sibling is not None:
            temperature.append(i.next_sibling.text)
        else:
            temperature.append(' ')

In [192]:
temperature

['Low: 56 °F',
 'High: 71 °F',
 'Low: 57 °F',
 'High: 70 °F',
 'Low: 56 °F',
 'High: 69 °F',
 'Low: 56 °F',
 'High: 67 °F',
 'Low: 56 °F']

In [193]:
print(len(period),len(short_desc),len(description),len(temperature))

9 9 9 9

# Frameing the dataset:

In [194]:
import pandas as pd
san_francisco_weather=pd.DataFrame({})
san_francisco_weather['Period']=period
san_francisco_weather['Temperature']=temperature
san_francisco_weather['Short_description']=short_desc
san_francisco_weather['Description']=description

In [195]:
san_francisco_weather

,Period,Temperature,Short_description,Description
0,Overnight,Low: 56 °F,Mostly cloudy,"Mostly cloudy, with a low around 56. West sout..."
1,Wednesday,High: 71 °F,Mostly cloudy,"Mostly cloudy, then gradually becoming sunny, ..."
2,Wednesday Night,Low: 57 °F,Mostly cloudy,"Mostly cloudy, with a low around 57. Breezy, w..."
3,Thursday,High: 70 °F,Mostly cloudy,"Mostly cloudy, then gradually becoming sunny, ..."
4,Thursday Night,Low: 56 °F,Partly cloudy,"Partly cloudy, with a low around 56. Breezy, w..."
5,Friday,High: 69 °F,Mostly sunny,"Mostly sunny, with a high near 69. Breezy."
6,Friday Night,Low: 56 °F,Mostly cloudy,"Mostly cloudy, with a low around 56."
7,Saturday,High: 67 °F,Partly sunny,"Partly sunny, with a high near 67."
8,Saturday Night,Low: 56 °F,Mostly cloudy,"Mostly cloudy, with a low around 56."

# 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [196]:
page=requests.get("https://internshala.com/fresher-jobs")
page

In [197]:
soup=BeautifulSoup(page.content)

In [198]:
tit=soup.find_all("div",class_="heading_4_5 profile")
tit

[<div class="heading_4_5 profile">
 <a href="/fresher-job/detail/sales-manager-omni-sport-leader-retail-fresher-jobs-in-hyderabad-at-decathlon-sport-india-private-limited1626931375">Sales Manager/Omni Sport Leader - Retail</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/full-stack-developer-fresher-jobs-in-hyderabad-at-wisestep1627379767">Full Stack Developer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/nutrition-dietetics-specialist-fresher-jobs-in-delhi-at-nucros-science-taste1627304321">Nutrition &amp; Dietetics Specialist</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/human-resources-hr-executive-fresher-jobs-in-bangalore-at-nikulsan-technologies-private-limited1627295714">Human Resources (HR) Executive</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/junior-software-developer-fresher-jobs-in-chennai-at-habitate-technologies-private-limited1627454850">Junior Software Developer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/business-development-manager-fresher-jobs-in-chennai-at-school-of-excellence1604643450">Business Development Manager</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/patent-research-associate-fresher-jobs-in-gurgaon-at-crimson-insights-technologies-llp1627452504">Patent Research Associate</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/data-analyst-fresher-jobs-in-bangalore-at-anudeep-nekkanti1627215496">Data Analyst</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/software-tester-fresher-jobs-in-gurgaon-at-startxlabs-technologies-private-limited1627394505">Software Tester</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/business-development-executive-fresher-jobs-in-multiple-locations-at-padhhigh1627382859">Business Development Executive</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/mern-stack-developer-fresher-jobs-in-chennai-at-snippt1627374615">MERN Stack Developer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-conversion-rate-optimization-analyst-fresher-jobs-at-datavinci-private-limited1627306288">Conversion Rate Optimization Analyst</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/client-service-executive-fresher-jobs-in-pune-at-red-tree-design-studio-private-limited1627365380">Client Service Executive</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/sales-development-representative-fresher-jobs-in-bangalore-at-helloar1627322537">Sales Development Representative</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/corporate-sales-associate-fresher-jobs-in-mumbai-at-best-roadways-limited1627317571">Corporate Sales Associate</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-international-sales-fresher-jobs-at-advids1627305554">International Business Development Executive</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/product-marketer-fresher-jobs-in-chennai-at-habitate-technologies-private-limited1627301198">Product Marketer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-customer-support-associates-fresher-jobs-at-recruit-crm1627287628">Customer Support Associates</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/content-customer-care-executive-fresher-jobs-in-ahmedabad-at-revo-international-llp1627197375">Content &amp; Customer Care Executive</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/django-developer-fresher-jobs-in-gurgaon-at-startxlabs-technologies-private-limited1627277461">Django Developer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-reactjs-developer-fresher-jobs-at-startxlabs-technologies-private-limited1627281724">Reactjs Developer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/web-development-trainee-fresher-jobs-in-gurgaon-at-softsensorai1626343459">Web Development Trainee</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/business-development-executive-fresher-jobs-in-bangalore-at-verzeo1604649058">Business Development Executive</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/cybersecurity-compliance-officer-fresher-jobs-in-pune-at-s3-infosoft1627150050">Cybersecurity Compliance Officer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/mern-stack-developer-fresher-jobs-in-mumbai-at-binary-numbers1627118100">MERN Stack Developer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-senior-copywriter-fresher-jobs-at-ranksoldier-international-private-limited1627130644">Senior Copywriter</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/corporate-sales-associate-fresher-jobs-in-delhi-at-mim-essay1627112552">Corporate Sales Associate</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/digital-marketing-associate-fresher-jobs-in-bangalore-at-bubblenut-wash1627109752">Digital Marketing Associate</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-social-media-marketing-executive-fresher-jobs-at-erikka-india1626866031">Social Media Marketing Executive</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/business-development-executive-fresher-jobs-in-bangalore-at-cosmic-micro-systems-private-limited1627046378">Business Development Executive</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-operations-manager-fresher-jobs-at-kumi-labs1626964402">Operations Manager</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/lead-counselor-fresher-jobs-in-multiple-locations-at-hoss-house-of-soft-skills1627036397">Lead Counselor</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-angularjs-developer-fresher-jobs-at-systaldyn-consultancy-private-limited1627030652">Angular.js Developer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-digital-marketing-specialist-fresher-jobs-at-sahadya-consultants1627029188">Digital Marketing Specialist</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/franchise-manager-sales-assistant-manager--fresher-jobs-in-multiple-locations-at-regrob1627027732">Franchise Manager - Sales (Assistant Manager )</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/graphic-designer-fresher-jobs-in-coimbatore-at-cynfas1626961896">Graphic Designer</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-project-associate-fresher-jobs-at-strategycoglobal1626773178">Project Associate</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/business-development-manager-fresher-jobs-in-navi-mumbai-at-narsipur-chemicals-private-limited1626439188">Business Development Manager</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/remote-associate-recruiter-fresher-jobs-at-talhive1626936843">Associate Recruiter</a> </div>,
 <div class="heading_4_5 profile">
 <a href="/fresher-job/detail/inside-sales-specialist-fresher-jobs-in-gurgaon-bangalore-at-unihyr1626943056">Inside Sales Specialist</a> </div>]

In [199]:
job_title=[]
for i in tit:
    for j in i.find_all("a"):
        job_title.append(j.text.replace("\n"," "))
job_title

['Sales Manager/Omni Sport Leader - Retail',
 'Full Stack Developer',
 'Nutrition & Dietetics Specialist',
 'Human Resources (HR) Executive',
 'Junior Software Developer',
 'Business Development Manager',
 'Patent Research Associate',
 'Data Analyst',
 'Software Tester',
 'Business Development Executive',
 'MERN Stack Developer',
 'Conversion Rate Optimization Analyst',
 'Client Service Executive',
 'Sales Development Representative',
 'Corporate Sales Associate',
 'International Business Development Executive',
 'Product Marketer',
 'Customer Support Associates',
 'Content & Customer Care Executive',
 'Django Developer',
 'Reactjs Developer',
 'Web Development Trainee',
 'Business Development Executive',
 'Cybersecurity Compliance Officer',
 'MERN Stack Developer',
 'Senior Copywriter',
 'Corporate Sales Associate',
 'Digital Marketing Associate',
 'Social Media Marketing Executive',
 'Business Development Executive',
 'Operations Manager',
 'Lead Counselor',
 'Angular.js Developer',
 'Digital Marketing Specialist',
 'Franchise Manager - Sales (Assistant Manager )',
 'Graphic Designer',
 'Project Associate',
 'Business Development Manager',
 'Associate Recruiter',
 'Inside Sales Specialist']

In [200]:
len(job_title)

40

In [201]:
comp=soup.find_all("a",class_="link_display_like_text")
comp

[<a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Decathlon%20Sport%20India%20Private%20Limited">
                         Decathlon Sport India Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Wisestep">
                         Wisestep                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Nucros%20Science%20%26%20Taste">
                         Nucros Science &amp; Taste                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Nikulsan%20Technologies%20Private%20Limited">
                         Nikulsan Technologies Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Habitate%20Technologies%20Private%20Limited">
                         Habitate Technologies Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-School%20Of%20Excellence">
                         School Of Excellence                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Crimson%20Insights%20Technologies%20LLP">
                         Crimson Insights Technologies LLP                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Anudeep%20Nekkanti">
                         Anudeep Nekkanti                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Startxlabs%20Technologies%20Private%20Limited">
                         Startxlabs Technologies Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Padhhigh">
                         Padhhigh                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Snippt">
                         Snippt                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-DataVinci%20Private%20Limited">
                         DataVinci Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Red%20Tree%20Design%20Studio%20Private%20Limited">
                         Red Tree Design Studio Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-HelloAR">
                         HelloAR                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Best%20Roadways%20Limited">
                         Best Roadways Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Advids">
                         Advids                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Habitate%20Technologies%20Private%20Limited">
                         Habitate Technologies Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Recruit%20CRM">
                         Recruit CRM                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Revo%20International%20LLP">
                         Revo International LLP                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Startxlabs%20Technologies%20Private%20Limited">
                         Startxlabs Technologies Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Startxlabs%20Technologies%20Private%20Limited">
                         Startxlabs Technologies Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Softsensor.ai">
                         Softsensor.ai                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Verzeo">
                         Verzeo                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-S3%20Infosoft">
                         S3 Infosoft                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Binary%20Numbers">
                         Binary Numbers                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Ranksoldier%20International%20Private%20Limited">
                         Ranksoldier International Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-MiM-Essay">
                         MiM-Essay                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-BubbleNut%20Wash">
                         BubbleNut Wash                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Erikka%20India">
                         Erikka India                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Cosmic%20Micro%20Systems%20Private%20Limited">
                         Cosmic Micro Systems Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Kumi%20Labs">
                         Kumi Labs                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-HOSS%20-%20House%20Of%20Soft%20Skills">
                         HOSS - House Of Soft Skills                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Systaldyn%20Consultancy%20Private%20Limited">
                         Systaldyn Consultancy Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Sahadya%20Consultants">
                         Sahadya Consultants                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Regrob">
                         Regrob                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Cynfas">
                         Cynfas                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-StrategyCo.Global">
                         StrategyCo.Global                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Narsipur%20Chemicals%20Private%20Limited">
                         Narsipur Chemicals Private Limited                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Talhive">
                         Talhive                    </a>,
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-UniHyr">
                         UniHyr                    </a>]

In [202]:
company_name=[]
for i in comp:
    company_name.append(i.text.replace("\n"," ").strip())
company_name

['Decathlon Sport India Private Limited',
 'Wisestep',
 'Nucros Science & Taste',
 'Nikulsan Technologies Private Limited',
 'Habitate Technologies Private Limited',
 'School Of Excellence',
 'Crimson Insights Technologies LLP',
 'Anudeep Nekkanti',
 'Startxlabs Technologies Private Limited',
 'Padhhigh',
 'Snippt',
 'DataVinci Private Limited',
 'Red Tree Design Studio Private Limited',
 'HelloAR',
 'Best Roadways Limited',
 'Advids',
 'Habitate Technologies Private Limited',
 'Recruit CRM',
 'Revo International LLP',
 'Startxlabs Technologies Private Limited',
 'Startxlabs Technologies Private Limited',
 'Softsensor.ai',
 'Verzeo',
 'S3 Infosoft',
 'Binary Numbers',
 'Ranksoldier International Private Limited',
 'MiM-Essay',
 'BubbleNut Wash',
 'Erikka India',
 'Cosmic Micro Systems Private Limited',
 'Kumi Labs',
 'HOSS - House Of Soft Skills',
 'Systaldyn Consultancy Private Limited',
 'Sahadya Consultants',
 'Regrob',
 'Cynfas',
 'StrategyCo.Global',
 'Narsipur Chemicals Private Limited',
 'Talhive',
 'UniHyr']

In [203]:
len(company_name)

40

In [204]:
inf=soup.find_all("div",class_="item_body")
inf

[<div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.3 - 4.5 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5.5 - 7 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.6 - 4.8 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.5 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 4 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  6 - 10 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.6 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  4 - 7 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  4 - 5 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.2 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 4 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.2 - 4.2 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5 - 7 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.05 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.5 - 7.5 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.5 - 7.5 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 5 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 6 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.6 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 7 LPA                                                    </div>,
 <div class="item_body">23 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">23 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  4.5 - 6 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.6 - 5.4 LPA                                                    </div>,
 <div class="item_body">23 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 5 LPA                                                    </div>,
 <div class="item_body">23 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 4.8 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 8 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.8 - 4.5 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 5 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.5 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.1 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  7 - 12 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5 - 7 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 5 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>]

In [205]:
info=[]
for i in inf:
    info.append(i.text.replace("\n"," ").strip())
info

['Starts\xa0Immediately',
 '3.3 - 4.5 LPA',
 "21 Aug' 21",
 'Starts\xa0Immediately',
 '5.5 - 7 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3.6 - 4.8 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '6 - 10 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '4 - 7 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '4 - 5 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '5 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3.2 - 4.2 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '5 - 7 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.05 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.5 - 7.5 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.5 - 7.5 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 6 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 7 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '4.5 - 6 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.6 - 5.4 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4.8 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 8 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.8 - 4.5 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.1 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '7 - 12 LPA',
 "21 Aug' 21",
 'Starts\xa0Immediately',
 '5 - 7 LPA',
 "21 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "21 Aug' 21",
 'Starts\xa0Immediately',
 '5 LPA',
 "21 Aug' 21"]

In [206]:
ctc=[]
for i in range(1,len(info),3):
    ctc.append(info[i])
ctc

['3.3 - 4.5 LPA',
 '5.5 - 7 LPA',
 '3 LPA',
 '3 LPA',
 '3.6 - 4.8 LPA',
 '3 - 3.5 LPA',
 '3 - 4 LPA',
 '6 - 10 LPA',
 '3 - 3.6 LPA',
 '4 - 7 LPA',
 '4 - 5 LPA',
 '5 LPA',
 '3 LPA',
 '3 - 3.2 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3.2 - 4.2 LPA',
 '5 - 7 LPA',
 '3 - 3.05 LPA',
 '3.5 - 7.5 LPA',
 '3.5 - 7.5 LPA',
 '3 - 5 LPA',
 '3 - 6 LPA',
 '3 - 3.6 LPA',
 '3 - 7 LPA',
 '3 LPA',
 '4.5 - 6 LPA',
 '3.6 - 5.4 LPA',
 '3 - 5 LPA',
 '3 - 4.8 LPA',
 '3 - 8 LPA',
 '3.8 - 4.5 LPA',
 '3 - 5 LPA',
 '3 - 3.5 LPA',
 '3 - 3.1 LPA',
 '3 LPA',
 '7 - 12 LPA',
 '5 - 7 LPA',
 '3 - 5 LPA',
 '5 LPA']

In [207]:
len(ctc)

40

In [208]:
dat=soup.find_all("div",class_="item_body")
dat

[<div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.3 - 4.5 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5.5 - 7 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.6 - 4.8 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.5 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 4 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  6 - 10 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.6 LPA                                                    </div>,
 <div class="item_body">27 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  4 - 7 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  4 - 5 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.2 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 4 LPA                                                    </div>,
 <div class="item_body">26 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.2 - 4.2 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5 - 7 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.05 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.5 - 7.5 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.5 - 7.5 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 5 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 6 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.6 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 7 LPA                                                    </div>,
 <div class="item_body">23 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">23 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  4.5 - 6 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.6 - 5.4 LPA                                                    </div>,
 <div class="item_body">23 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 5 LPA                                                    </div>,
 <div class="item_body">23 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 4.8 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 8 LPA                                                    </div>,
 <div class="item_body">25 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3.8 - 4.5 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 5 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.5 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 3.1 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 LPA                                                    </div>,
 <div class="item_body">22 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  7 - 12 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5 - 7 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  3 - 5 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>,
 <div class="item_body" id="start-date-first">
 <span class="start_immediately_mobile">Starts </span>Immediately
                         </div>,
 <div class="item_body">
 <i class="ic-16-currency-inr"></i>  5 LPA                                                    </div>,
 <div class="item_body">21 Aug' 21</div>]

In [209]:
app_date=[]
for i in dat:
    app_date.append(i.text.replace("\n"," ").strip())
app_date

['Starts\xa0Immediately',
 '3.3 - 4.5 LPA',
 "21 Aug' 21",
 'Starts\xa0Immediately',
 '5.5 - 7 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3.6 - 4.8 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '6 - 10 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "27 Aug' 21",
 'Starts\xa0Immediately',
 '4 - 7 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '4 - 5 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '5 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "26 Aug' 21",
 'Starts\xa0Immediately',
 '3.2 - 4.2 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '5 - 7 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.05 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.5 - 7.5 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.5 - 7.5 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 6 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 7 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '4.5 - 6 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.6 - 5.4 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "23 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 4.8 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 8 LPA',
 "25 Aug' 21",
 'Starts\xa0Immediately',
 '3.8 - 4.5 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 3.1 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "22 Aug' 21",
 'Starts\xa0Immediately',
 '7 - 12 LPA',
 "21 Aug' 21",
 'Starts\xa0Immediately',
 '5 - 7 LPA',
 "21 Aug' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "21 Aug' 21",
 'Starts\xa0Immediately',
 '5 LPA',
 "21 Aug' 21"]

In [210]:
apply_date=[]
for i in range(2,len(app_date),3):
    apply_date.append(app_date[i])
apply_date

["21 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "22 Aug' 21",
 "25 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21"]

In [211]:
len(apply_date)

40

In [212]:
print(len(job_title),len(company_name),len(ctc),len(apply_date))

40 40 40 40

# Frameing the dataset:

In [213]:
import pandas as pd
fresh_jobs=pd.DataFrame({})
fresh_jobs['Job title']=job_title
fresh_jobs['Company name']=company_name
fresh_jobs['CTC']=ctc
fresh_jobs['Apply date']=apply_date

In [214]:
fresh_jobs

,Job title,Company name,CTC,Apply date
0,Sales Manager/Omni Sport Leader - Retail,Decathlon Sport India Private Limited,3.3 - 4.5 LPA,21 Aug' 21
1,Full Stack Developer,Wisestep,5.5 - 7 LPA,27 Aug' 21
2,Nutrition & Dietetics Specialist,Nucros Science & Taste,3 LPA,27 Aug' 21
3,Human Resources (HR) Executive,Nikulsan Technologies Private Limited,3 LPA,27 Aug' 21
4,Junior Software Developer,Habitate Technologies Private Limited,3.6 - 4.8 LPA,27 Aug' 21
5,Business Development Manager,School Of Excellence,3 - 3.5 LPA,27 Aug' 21
6,Patent Research Associate,Crimson Insights Technologies LLP,3 - 4 LPA,27 Aug' 21
7,Data Analyst,Anudeep Nekkanti,6 - 10 LPA,27 Aug' 21
8,Software Tester,Startxlabs Technologies Private Limited,3 - 3.6 LPA,27 Aug' 21
9,Business Development Executive,Padhhigh,4 - 7 LPA,26 Aug' 21
10,MERN Stack Developer,Snippt,4 - 5 LPA,26 Aug' 21
11,Conversion Rate Optimization Analyst,DataVinci Private Limited,5 LPA,26 Aug' 21
12,Client Service Executive,Red Tree Design Studio Private Limited,3 LPA,26 Aug' 21
13,Sales Development Representative,HelloAR,3 - 3.2 LPA,26 Aug' 21
14,Corporate Sales Associate,Best Roadways Limited,3 LPA,26 Aug' 21
15,International Business Development Executive,Advids,3 - 4 LPA,26 Aug' 21
16,Product Marketer,Habitate Technologies Private Limited,3.2 - 4.2 LPA,25 Aug' 21
17,Customer Support Associates,Recruit CRM,5 - 7 LPA,25 Aug' 21
18,Content & Customer Care Executive,Revo International LLP,3 - 3.05 LPA,25 Aug' 21
19,Django Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
20,Reactjs Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
21,Web Development Trainee,Softsensor.ai,3 - 5 LPA,25 Aug' 21
22,Business Development Executive,Verzeo,3 - 6 LPA,25 Aug' 21
23,Cybersecurity Compliance Officer,S3 Infosoft,3 - 3.6 LPA,25 Aug' 21
24,MERN Stack Developer,Binary Numbers,3 - 7 LPA,23 Aug' 21
25,Senior Copywriter,Ranksoldier International Private Limited,3 LPA,23 Aug' 21
26,Corporate Sales Associate,MiM-Essay,4.5 - 6 LPA,25 Aug' 21
27,Digital Marketing Associate,BubbleNut Wash,3.6 - 5.4 LPA,23 Aug' 21
28,Social Media Marketing Executive,Erikka India,3 - 5 LPA,23 Aug' 21
29,Business Development Executive,Cosmic Micro Systems Private Limited,3 - 4.8 LPA,22 Aug' 21
30,Operations Manager,Kumi Labs,3 - 8 LPA,25 Aug' 21
31,Lead Counselor,HOSS - House Of Soft Skills,3.8 - 4.5 LPA,22 Aug' 21
32,Angular.js Developer,Systaldyn Consultancy Private Limited,3 - 5 LPA,22 Aug' 21
33,Digital Marketing Specialist,Sahadya Consultants,3 - 3.5 LPA,22 Aug' 21
34,Franchise Manager - Sales (Assistant Manager ),Regrob,3 - 3.1 LPA,22 Aug' 21
35,Graphic Designer,Cynfas,3 LPA,22 Aug' 21
36,Project Associate,StrategyCo.Global,7 - 12 LPA,21 Aug' 21
37,Business Development Manager,Narsipur Chemicals Private Limited,5 - 7 LPA,21 Aug' 21
38,Associate Recruiter,Talhive,3 - 5 LPA,21 Aug' 21
39,Inside Sales Specialist,UniHyr,5 LPA,21 Aug' 21

# 10.  Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price.

We have to send request to the web page and get response 200 to scrap the required data from the web page.

In [215]:
page=requests.get("https://www.nobroker.in/property/sale/bangalore/Mahalakshmi%20Layout?type=BHK3&searchParam=W3sibGF0IjoxMy4wMTQ1OTM3LCJsb24iOjc3LjU1MTQwNDY5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSlo2YmlGWEU5cmpzUlVqVUc1TjdNOHZNIiwicGxhY2VOYW1lIjoiTWFoYWxha3NobWkgTGF5b3V0In1d&propertyAge=0&radius=2.0")
page

In [216]:
soup=BeautifulSoup(page.content)

In [217]:
name=soup.find_all("h2",class_="heading-6 font-semi-bold nb__1AShY")
name

[<h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Flat  For Sale  In Raj Veena Kutira In Mahalakshmi Layout</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>,
 <h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Apartment  For Sale  In Renaissance Temple Bells Apartments In Mahalakshmi Layout</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>,
 <h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Flat  For Sale  In Renaissance Temple Bells Apartments, Mahalakshmi Layout In Renaissance Temple Bells Apartments</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>,
 <h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Flat  For Sale  In Ruby Enclave In Nandini Layout</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>,
 <h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Flat  For Sale  In Vaibhav Sneha Breeze In Mahalakshmi Layout</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>,
 <h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Apartment  For Sale  In Krishna Arya Elegant- Syscon Developers In Mahalakshmi Layout</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>,
 <h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Apartment  For Sale  In Renaissance Temple Bells Apartments In Mahalakshmi Layout</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>,
 <h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Flat  For Sale  In Durga Flute In Mahalakshmi Layout</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>,
 <h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Apartment  For Sale  In Esteem Classic In Mahalakshmi Layout</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>,
 <h2 class="heading-6 font-semi-bold nb__1AShY"><span itemprop="name">3 BHK Flat  For Sale  In Vaibhav Breeze In Yeswanthpur</span> <svg aria-hidden="true" class="jss1" focusable="false" role="presentation" viewbox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></h2>]

In [218]:
hou_name=[]
for i in name:
    hou_name.append(i.text.replace("\n"," ").strip())
hou_name

['3 BHK Flat  For Sale  In Raj Veena Kutira In Mahalakshmi Layout',
 '3 BHK Apartment  For Sale  In Renaissance Temple Bells Apartments In Mahalakshmi Layout',
 '3 BHK Flat  For Sale  In Renaissance Temple Bells Apartments, Mahalakshmi Layout In Renaissance Temple Bells Apartments',
 '3 BHK Flat  For Sale  In Ruby Enclave In Nandini Layout',
 '3 BHK Flat  For Sale  In Vaibhav Sneha Breeze In Mahalakshmi Layout',
 '3 BHK Apartment  For Sale  In Krishna Arya Elegant- Syscon Developers In Mahalakshmi Layout',
 '3 BHK Apartment  For Sale  In Renaissance Temple Bells Apartments In Mahalakshmi Layout',
 '3 BHK Flat  For Sale  In Durga Flute In Mahalakshmi Layout',
 '3 BHK Apartment  For Sale  In Esteem Classic In Mahalakshmi Layout',
 '3 BHK Flat  For Sale  In Vaibhav Breeze In Yeswanthpur']

In [219]:
len(hou_name)

10

In [220]:
loc=soup.find_all("div",class_="nb__2CMjv")
loc

[<div class="nb__2CMjv">4th main</div>,
 <div class="nb__2CMjv"><a class="nb__17tcx" href="/renaissance-temple-bells-apartments-mahalakshmi-layout_bangalore-prjt-5e972cfea5a1662dac0a832a" target="_blank">Renaissance Temple Bells Apartments</a>  <!-- -->Renaissance Temple Bells Apartments, Yeshwanthpur Industrial Suburb, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India</div>,
 <div class="nb__2CMjv">West of Chord Road</div>,
 <div class="nb__2CMjv">Near Mahalakshmi Layout</div>,
 <div class="nb__2CMjv">Yeshwanthpur Industrial Suburb Near Ravindu Toyota</div>,
 <div class="nb__2CMjv"><a class="nb__17tcx" href="/krishna-arya-elegant--syscon-developers-mahalakshmi-layout_bangalore-prjt-5ba009ad714b5681057608e7" target="_blank">Krishna Arya Elegant- Syscon Developers</a>  <!-- -->60, 11th Cross Rd, 9th, Mahalakshmipuram Layout, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India</div>,
 <div class="nb__2CMjv"><a class="nb__17tcx" href="/renaissance-temple-bells-apartments-mahalakshmi-layout_bangalore-prjt-5e972cfea5a1662dac0a832a" target="_blank">Renaissance Temple Bells Apartments</a>  <!-- -->Renaissance Temple Bells Apartments, Yeshwanthpur Industrial Suburb, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India</div>,
 <div class="nb__2CMjv">Ashok Puram Main Rd, Ashokapuram, Yeshwanthpur Industrial Suburb, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India</div>,
 <div class="nb__2CMjv"><a class="nb__17tcx" href="/esteem-classic-mahalakshmi-layout_bangalore-prjt-5ba009ad714b568105761673" target="_blank">Esteem Classic</a>  <!-- -->Esteem Classic, Yeshwanthpur Industrial Suburb, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India</div>,
 <div class="nb__2CMjv">Industrial Suburb, Near RG Royal Convention Hall</div>]

In [221]:
hou_loc=[]
for i in loc:
    hou_loc.append(i.text.replace("\n"," ").strip())
hou_loc

['4th main',
 'Renaissance Temple Bells Apartments\xa0 Renaissance Temple Bells Apartments, Yeshwanthpur Industrial Suburb, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India',
 'West of Chord Road',
 'Near Mahalakshmi Layout',
 'Yeshwanthpur Industrial Suburb Near Ravindu Toyota',
 'Krishna Arya Elegant- Syscon Developers\xa0 60, 11th Cross Rd, 9th, Mahalakshmipuram Layout, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India',
 'Renaissance Temple Bells Apartments\xa0 Renaissance Temple Bells Apartments, Yeshwanthpur Industrial Suburb, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India',
 'Ashok Puram Main Rd, Ashokapuram, Yeshwanthpur Industrial Suburb, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India',
 'Esteem Classic\xa0 Esteem Classic, Yeshwanthpur Industrial Suburb, Mahalakshmi Layout, Bengaluru, Karnataka 560086, India',
 'Industrial Suburb, Near RG Royal Convention Hall']

In [222]:
len(hou_loc)

10

In [223]:
ar=soup.find_all("div",class_="nb__3oNyC")
ar

[<div class="nb__3oNyC">1,450 sqft</div>,
 <div class="nb__3oNyC">1,640 sqft</div>,
 <div class="nb__3oNyC">1,770 sqft</div>,
 <div class="nb__3oNyC">1,200 sqft</div>,
 <div class="nb__3oNyC">1,610 sqft</div>,
 <div class="nb__3oNyC">1,700 sqft</div>,
 <div class="nb__3oNyC">1,710 sqft</div>,
 <div class="nb__3oNyC">2,071 sqft</div>,
 <div class="nb__3oNyC">1,865 sqft</div>,
 <div class="nb__3oNyC">2,045 sqft</div>]

In [224]:
area=[]
for i in ar:
    area.append(i.text.replace("\n"," ").strip())
area

['1,450 sqft',
 '1,640 sqft',
 '1,770 sqft',
 '1,200 sqft',
 '1,610 sqft',
 '1,700 sqft',
 '1,710 sqft',
 '2,071 sqft',
 '1,865 sqft',
 '2,045 sqft']

In [225]:
len(area)

10

In [226]:
em=soup.find_all("div",class_="font-semi-bold heading-6")
em

[<div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">1,450 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>1.43 Lacs/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->2.5 Crores</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">1,640 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>1.03 Lacs/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->1.8 Crores</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">1,770 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>1.09 Lacs/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->1.9 Crores</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">1,200 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>51,583/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->90 Lacs</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">1,610 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>1.03 Lacs/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->1.8 Crores</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">1,700 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>77,374/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->1.35 Crores</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">1,710 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>1.2 Lacs/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->2.1 Crores</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">2,071 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>1.01 Lacs/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->1.76 Crores</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">1,865 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>97,434/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->1.7 Crores</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">2,045 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>1.09 Lacs/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->1.9 Crores</span></div>]

In [227]:
emi=[]
for i in em:
    emi.append(i.text.replace("\n"," ").strip())
emi

['1,450 sqft',
 '₹1.43 Lacs/Month',
 '₹2.5 Crores',
 '1,640 sqft',
 '₹1.03 Lacs/Month',
 '₹1.8 Crores',
 '1,770 sqft',
 '₹1.09 Lacs/Month',
 '₹1.9 Crores',
 '1,200 sqft',
 '₹51,583/Month',
 '₹90 Lacs',
 '1,610 sqft',
 '₹1.03 Lacs/Month',
 '₹1.8 Crores',
 '1,700 sqft',
 '₹77,374/Month',
 '₹1.35 Crores',
 '1,710 sqft',
 '₹1.2 Lacs/Month',
 '₹2.1 Crores',
 '2,071 sqft',
 '₹1.01 Lacs/Month',
 '₹1.76 Crores',
 '1,865 sqft',
 '₹97,434/Month',
 '₹1.7 Crores',
 '2,045 sqft',
 '₹1.09 Lacs/Month',
 '₹1.9 Crores']

In [228]:
EMI=[]
for i in range(1,len(emi),3):
    EMI.append(emi[i])
EMI

['₹1.43 Lacs/Month',
 '₹1.03 Lacs/Month',
 '₹1.09 Lacs/Month',
 '₹51,583/Month',
 '₹1.03 Lacs/Month',
 '₹77,374/Month',
 '₹1.2 Lacs/Month',
 '₹1.01 Lacs/Month',
 '₹97,434/Month',
 '₹1.09 Lacs/Month']

In [229]:
len(EMI)

10

In [230]:
print(len(hou_name),len(hou_loc),len(area),len(EMI))

10 10 10 10

# Frameing the dataset:

In [231]:
import pandas as pd
Nobroker=pd.DataFrame({})
Nobroker['House name']=hou_name
Nobroker['House location']=hou_loc
Nobroker['Area']=area
Nobroker['EMI']=EMI

In [232]:
Nobroker

,House name,House location,Area,EMI
0,3 BHK Flat For Sale In Raj Veena Kutira In M...,4th main,"1,450 sqft",₹1.43 Lacs/Month
1,3 BHK Apartment For Sale In Renaissance Temp...,Renaissance Temple Bells Apartments Renaissan...,"1,640 sqft",₹1.03 Lacs/Month
2,3 BHK Flat For Sale In Renaissance Temple Be...,West of Chord Road,"1,770 sqft",₹1.09 Lacs/Month
3,3 BHK Flat For Sale In Ruby Enclave In Nandi...,Near Mahalakshmi Layout,"1,200 sqft","₹51,583/Month"
4,3 BHK Flat For Sale In Vaibhav Sneha Breeze ...,Yeshwanthpur Industrial Suburb Near Ravindu To...,"1,610 sqft",₹1.03 Lacs/Month
5,3 BHK Apartment For Sale In Krishna Arya Ele...,"Krishna Arya Elegant- Syscon Developers 60, 1...","1,700 sqft","₹77,374/Month"
6,3 BHK Apartment For Sale In Renaissance Temp...,Renaissance Temple Bells Apartments Renaissan...,"1,710 sqft",₹1.2 Lacs/Month
7,3 BHK Flat For Sale In Durga Flute In Mahala...,"Ashok Puram Main Rd, Ashokapuram, Yeshwanthpur...","2,071 sqft",₹1.01 Lacs/Month
8,3 BHK Apartment For Sale In Esteem Classic I...,"Esteem Classic Esteem Classic, Yeshwanthpur I...","1,865 sqft","₹97,434/Month"
9,3 BHK Flat For Sale In Vaibhav Breeze In Yes...,"Industrial Suburb, Near RG Royal Convention Hall","2,045 sqft",₹1.09 Lacs/Month

# Done